<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>login</td><td>MailRuLoginTest.checkLoginPositive()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@17838a9]<br/>MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@17838a9]<br/></td></tr>
</table>
