<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:10:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:10:57</td>   <td>4195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:08</td>   <td>15733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:10</td>   <td>17037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:15</td>   <td>22406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:20</td>   <td>27883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:21</td>   <td>28901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:27</td>   <td>34602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:32</td>   <td>39612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:33</td>   <td>40604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:39</td>   <td>46072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:44</td>   <td>51287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:45</td>   <td>52271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:50</td>   <td>57642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:55</td>   <td>62458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:56</td>   <td>63496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:02</td>   <td>69534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:07</td>   <td>74252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:08</td>   <td>75284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:13</td>   <td>80683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:18</td>   <td>85684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:19</td>   <td>86921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:26</td>   <td>93075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:31</td>   <td>98219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:32</td>   <td>99203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:38</td>   <td>105827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:44</td>   <td>111041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:45</td>   <td>112043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:50</td>   <td>117440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:55</td>   <td>122537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:56</td>   <td>123550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:01</td>   <td>128962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:07</td>   <td>134944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:08</td>   <td>135942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:14</td>   <td>141157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@fcf7ab]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:19</td>   <td>146029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:20</td>   <td>147140</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:35</td>   <td>162519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkMailSendWithoutTopicAndBody</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:45</td>   <td>172630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:54</td>   <td>181380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkThatDraftCreatedAndDeleted</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:56</td>   <td>183422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:56</td>   <td>183590</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
</table>
