<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@fcf7ab]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:35</td>   <td>21362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkMailSendWithoutTopicAndBody</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:45</td>   <td>31473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:54</td>   <td>40223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkThatDraftCreatedAndDeleted</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:56</td>   <td>42265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:56</td>   <td>42433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:08</td>   <td>-125424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:20</td>   <td>-113274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:32</td>   <td>-101545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:44</td>   <td>-89870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:55</td>   <td>-78699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:07</td>   <td>-66905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:18</td>   <td>-55473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:31</td>   <td>-42938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:44</td>   <td>-30116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:55</td>   <td>-18620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:07</td>   <td>-6213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:19</td>   <td>4872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:10:57</td>   <td>-136962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:15</td>   <td>-118751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:27</td>   <td>-106555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:39</td>   <td>-95085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:50</td>   <td>-83515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:02</td>   <td>-71623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:13</td>   <td>-60474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:26</td>   <td>-48082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:38</td>   <td>-35330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:50</td>   <td>-23717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:01</td>   <td>-12195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="d17bee">  <td>18/05/01 22:13:20</td>   <td>5983</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@1e23121]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:10:53</td>   <td>-141157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:10</td>   <td>-124120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:21</td>   <td>-112256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:33</td>   <td>-100553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:45</td>   <td>-88886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:11:56</td>   <td>-77661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:08</td>   <td>-65873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:19</td>   <td>-54236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:32</td>   <td>-41954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:45</td>   <td>-29114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:12:56</td>   <td>-17607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
<tr bgcolor="b3a9eb">  <td>18/05/01 22:13:08</td>   <td>-5215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@fcf7ab]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@25705367</td>   <td></td> </tr>
</table>
