<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:16:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:16:46</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:02</td>   <td>16385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:17:22</td>   <td>35861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkMailSendWithoutTopicAndBody</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:29</td>   <td>43470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:31</td>   <td>45320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:43</td>   <td>57464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:17:47</td>   <td>61425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:53</td>   <td>67440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:55</td>   <td>69055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:07</td>   <td>81339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:18:10</td>   <td>84169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatDraftCreatedAndDeleted</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:16</td>   <td>89867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:17</td>   <td>91618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:28</td>   <td>102711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:40</td>   <td>114141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:41</td>   <td>115413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:53</td>   <td>126909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:18:59</td>   <td>133139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:04</td>   <td>138575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:19:06</td>   <td>140067</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:06</td>   <td>140499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:22</td>   <td>156153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:29</td>   <td>163042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:30</td>   <td>164195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:36</td>   <td>170728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:43</td>   <td>177586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:45</td>   <td>178851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:55</td>   <td>189349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:02</td>   <td>196225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:03</td>   <td>197413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:11</td>   <td>205717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:19</td>   <td>212872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:20</td>   <td>213908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:29</td>   <td>223231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:37</td>   <td>230812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:38</td>   <td>231900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:45</td>   <td>239183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:52</td>   <td>246532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:53</td>   <td>247683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:21:00</td>   <td>254032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@1952a2d]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:21:06</td>   <td>259955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
</table>
