<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:21:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@1952a2d]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:17:22</td>   <td>-218171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkMailSendWithoutTopicAndBody</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:17:47</td>   <td>-192607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:18:10</td>   <td>-169863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatDraftCreatedAndDeleted</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:18:59</td>   <td>-120893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:19:06</td>   <td>-113965</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:29</td>   <td>-210562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:53</td>   <td>-186592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:16</td>   <td>-164165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:40</td>   <td>-139891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:04</td>   <td>-115457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:29</td>   <td>-90990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:43</td>   <td>-76446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:02</td>   <td>-57807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:19</td>   <td>-41160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:37</td>   <td>-23220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:52</td>   <td>-7500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:21:06</td>   <td>5923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:02</td>   <td>-237647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:43</td>   <td>-196568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:07</td>   <td>-172693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:28</td>   <td>-151321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:53</td>   <td>-127123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:22</td>   <td>-97879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:36</td>   <td>-83304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:55</td>   <td>-64683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:11</td>   <td>-48315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:29</td>   <td>-30801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:45</td>   <td>-14849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/20 16:16:46</td>   <td>-254032</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@1547541</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:16:46</td>   <td>-254030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:31</td>   <td>-208712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:17:55</td>   <td>-184977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:17</td>   <td>-162414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:18:41</td>   <td>-138619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:06</td>   <td>-113533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:30</td>   <td>-89837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:19:45</td>   <td>-75181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:03</td>   <td>-56619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:20</td>   <td>-40124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:38</td>   <td>-22132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/20 16:20:53</td>   <td>-6349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@7731482</td>   <td></td> </tr>
</table>
