<h2>Reporter output</h2><table><tr><td>16:16:45,586  INFO - parse Cli
</td></tr>
<tr><td>16:16:45,588  INFO - Parse cli using JCommander
</td></tr>
<tr><td>16:16:46,218  INFO - [START SUITE] ParallelMode:classes threadCount:2 MailRu Suite
</td></tr>
<tr><td>16:16:46,218  INFO - [TESTCLASS STARTED] MailRuTest
</td></tr>
<tr><td>16:17:00,436  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766540037689937.png'>766540037689937.png</a>
</td></tr>
<tr><td>16:17:00,436 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:17:00,437 DEBUG - LOGIN
</td></tr>
<tr><td>16:17:00,498 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:00,863 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:01,304 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:16:45,586  INFO - parse Cli
</td></tr>
<tr><td>16:16:45,588  INFO - Parse cli using JCommander
</td></tr>
<tr><td>16:16:46,218  INFO - [START SUITE] ParallelMode:classes threadCount:2 MailRu Suite
</td></tr>
<tr><td>16:16:46,218  INFO - [TESTCLASS STARTED] MailRuTest
</td></tr>
<tr><td>16:17:02,162  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766540908645154.png'>766540908645154.png</a>
</td></tr>
<tr><td>16:17:02,162 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:17:02,196 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:02,629 DEBUG - LOGIN
</td></tr>
<tr><td>16:17:02,699 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:03,262 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>16:17:03,262 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:03,345 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:03,459 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:03,882 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:04,046 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:04,321 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:04,671 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:05,359 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>16:17:05,359 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:17:06,259  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766545680094840.png'>766545680094840.png</a>
</td></tr>
<tr><td>16:17:06,260 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:17:06,995 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:17:06,996 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:08,454 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>16:17:08,454 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:08,966 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:10,107 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:10,392 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:12,269 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>16:17:12,270 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:17:13,289  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766552548328753.png'>766552548328753.png</a>
</td></tr>
<tr><td>16:17:13,289 DEBUG - Befor click on [[ChromeDriver: chrome on XP (29bd83af0bed6c1ff67e070045c9c816)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:17:21,970 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir1320_18953}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: bcc6927e1e3c8f3e9859917e47297074
</td></tr>
<tr><td>16:17:21,971 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:22,039 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:22,114 DEBUG - SEND LETTER
</td></tr>
<tr><td>16:17:22,114 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>16:17:22,115 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>16:17:22,748  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766562381396057.png'>766562381396057.png</a>
</td></tr>
<tr><td>16:17:22,749 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>16:17:26,510 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:17:27,039 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:17:29,446 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:17:29,447 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:29,469 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:17:29,573 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:17:29,581 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:29,637 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:29,695 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>16:17:29,713  INFO - [TEST COMPLETED SUCCESSFULLY loginAsSpecificCustomerFromLoginPage]
</td></tr>
<tr><td>16:17:29,862 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:17:29,967 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:17:30,139 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>16:17:30,815  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766570421353748.png'>766570421353748.png</a>
</td></tr>
<tr><td>16:17:30,816 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>16:17:31,037 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>16:17:31,595 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>16:17:31,647 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>16:17:32,194  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766571921186280.png'>766571921186280.png</a>
</td></tr>
<tr><td>16:17:32,194 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> css selector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok]
</td></tr>
<tr><td>16:17:32,449 DEBUG - [CHECK THAT LETTER IS FOUND IN INCOMING AND OUTGOING MAIL]
</td></tr>
<tr><td>16:17:32,450 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>16:17:34,168 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>16:17:34,293 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>16:17:35,363  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766574566422568.png'>766574566422568.png</a>
</td></tr>
<tr><td>16:17:35,363 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>16:17:35,741 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>16:17:36,494  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766576168453349.png'>766576168453349.png</a>
</td></tr>
<tr><td>16:17:36,495 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>16:17:36,776 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:17:37,345 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:17:37,958 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:17:38,308 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>16:17:38,431 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>16:17:38,534 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>16:17:40,111  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766578813826171.png'>766578813826171.png</a>
</td></tr>
<tr><td>16:17:40,112 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div/a[@href='/messages/sent/']]
</td></tr>
<tr><td>16:17:41,733 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>16:17:42,588 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>16:17:42,955 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>16:17:43,438  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766582484861091.png'>766582484861091.png</a>
</td></tr>
<tr><td>16:17:43,438 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:17:43,813 DEBUG - LOGIN
</td></tr>
<tr><td>16:17:43,830  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766583222305565.png'>766583222305565.png</a>
</td></tr>
<tr><td>16:17:43,830 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a]
</td></tr>
<tr><td>16:17:43,850 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:44,400 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:44,725 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:17:44,806 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:46,003 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:17:47,358 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:17:47,433 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:17:47,541 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>16:17:47,663 DEBUG - type login - hfYrW2L1
</td></tr>
<tr><td>16:17:47,664 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:47,668  INFO - [TEST COMPLETED SUCCESSFULLY checkMailSendWithoutTopicAndBody]
</td></tr>
<tr><td>16:17:47,669 DEBUG - SEND LETTER
</td></tr>
<tr><td>16:17:47,669 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>16:17:47,669 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>16:17:47,768 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:47,845 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:48,010 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:17:48,532  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766587933629698.png'>766587933629698.png</a>
</td></tr>
<tr><td>16:17:48,532 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>16:17:48,986 DEBUG - type password - L8GDX6y
</td></tr>
<tr><td>16:17:48,987 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:17:50,226  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766589431141569.png'>766589431141569.png</a>
</td></tr>
<tr><td>16:17:50,226 DEBUG - Befor click on [[ChromeDriver: chrome on XP (45ec5658c3c375b07f2dba8f8c4d9238)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:17:50,419 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:17:50,816 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:17:50,983 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:17:50,984 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:51,954 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:52,742 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:52,824 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:17:52,883 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:17:53,032 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir4924_17967}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 45ec5658c3c375b07f2dba8f8c4d9238
</td></tr>
<tr><td>16:17:53,033 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:17:53,284 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>16:17:53,306 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:17:53,343 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:17:53,380 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:17:53,436 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:17:53,684  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:17:53,927 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>16:17:54,476  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766594192397243.png'>766594192397243.png</a>
</td></tr>
<tr><td>16:17:54,476 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>16:17:54,875 DEBUG - [CHECK THAT LETTER IS FOUND IN INCOMING AND OUTGOING MAIL]
</td></tr>
<tr><td>16:17:54,876 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>16:17:54,969 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>16:17:56,746  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766595324361732.png'>766595324361732.png</a>
</td></tr>
<tr><td>16:17:56,747 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>16:17:57,639  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766596993663943.png'>766596993663943.png</a>
</td></tr>
<tr><td>16:17:57,639 DEBUG - Stale element reference exception by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>16:17:57,640 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>16:17:59,024  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766597992180836.png'>766597992180836.png</a>
</td></tr>
<tr><td>16:17:59,024 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>16:17:59,480 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>16:18:00,514  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766599871465515.png'>766599871465515.png</a>
</td></tr>
<tr><td>16:18:00,515 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>16:18:01,367  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766600895190954.png'>766600895190954.png</a>
</td></tr>
<tr><td>16:18:01,367 DEBUG - Stale element reference exception by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>16:18:01,367 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>16:18:01,883  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766601638916871.png'>766601638916871.png</a>
</td></tr>
<tr><td>16:18:01,884 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>16:18:02,063 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:18:02,629 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:18:02,670 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:18:02,717 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>16:18:02,786 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>16:18:02,880 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>16:18:03,994  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766603146775928.png'>766603146775928.png</a>
</td></tr>
<tr><td>16:18:03,994 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div/a[@href='/messages/sent/']]
</td></tr>
<tr><td>16:18:05,947 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>16:18:06,664 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>16:18:07,359  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766607088096362.png'>766607088096362.png</a>
</td></tr>
<tr><td>16:18:07,359 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:18:07,579  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766606977005447.png'>766606977005447.png</a>
</td></tr>
<tr><td>16:18:07,579 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a]
</td></tr>
<tr><td>16:18:07,583 DEBUG - LOGIN
</td></tr>
<tr><td>16:18:07,597 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:08,005 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:18:08,209 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:08,780 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:09,726 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:10,021 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>16:18:10,239 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>16:18:10,332 DEBUG - type login - ExAa2Tk7
</td></tr>
<tr><td>16:18:10,332 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:10,412  INFO - [TEST COMPLETED SUCCESSFULLY checkSendingAndReceivingLetterWithCorrectDataFilled]
</td></tr>
<tr><td>16:18:10,413 DEBUG - CREATE DRAFT
</td></tr>
<tr><td>16:18:10,413 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>16:18:10,413 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>16:18:10,446 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:10,613 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:10,843 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:11,549  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766610691448542.png'>766610691448542.png</a>
</td></tr>
<tr><td>16:18:11,549 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>16:18:11,898 DEBUG - type password - lBWECP853
</td></tr>
<tr><td>16:18:11,898 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:18:12,878  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766612199334052.png'>766612199334052.png</a>
</td></tr>
<tr><td>16:18:12,878 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1d6f9b2de32b49af719cb9c763fb6ed2)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:18:13,403 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:18:13,405 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:14,565 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:18:14,658 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:15,091 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:18:15,299 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:15,407 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:18:15,525 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir14360_18841}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 1d6f9b2de32b49af719cb9c763fb6ed2
</td></tr>
<tr><td>16:18:15,525 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:15,754 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:18:15,757 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:18:15,886 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:18:16,022 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>16:18:16,111  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:18:16,459 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:18:16,543 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:18:17,526 DEBUG - [SAVE DRAFT]
</td></tr>
<tr><td>16:18:17,796 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>16:18:17,892 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>16:18:18,840  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766618209190141.png'>766618209190141.png</a>
</td></tr>
<tr><td>16:18:18,841 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>16:18:19,436  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766619144055904.png'>766619144055904.png</a>
</td></tr>
<tr><td>16:18:19,436 DEBUG - Stale element reference exception by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>16:18:19,437 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>16:18:20,565  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766620035672213.png'>766620035672213.png</a>
</td></tr>
<tr><td>16:18:20,565 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>16:18:20,854 DEBUG - [SAVE DRAFT]
</td></tr>
<tr><td>16:18:22,347 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>16:18:22,462 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>16:18:23,447  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766622754064143.png'>766622754064143.png</a>
</td></tr>
<tr><td>16:18:23,448 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]
</td></tr>
<tr><td>16:18:24,401 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>16:18:27,650 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:18:27,971 DEBUG - DELETE DRAFT
</td></tr>
<tr><td>16:18:27,971 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>16:18:28,084 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>16:18:28,564  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766627967300400.png'>766627967300400.png</a>
</td></tr>
<tr><td>16:18:28,564 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:18:28,676  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766628346685133.png'>766628346685133.png</a>
</td></tr>
<tr><td>16:18:28,677 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>16:18:28,955 DEBUG - LOGIN
</td></tr>
<tr><td>16:18:29,022 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:29,967 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:30,164 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>16:18:30,612 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:31,584 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:31,587 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>16:18:32,455  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766631863999208.png'>766631863999208.png</a>
</td></tr>
<tr><td>16:18:32,455 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]
</td></tr>
<tr><td>16:18:33,676 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>16:18:33,772 DEBUG - type login - 0gkDDgfyft
</td></tr>
<tr><td>16:18:33,773 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:33,935 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:34,091 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:35,076 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:35,548 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:18:36,238 DEBUG - type password - 74NmP2N
</td></tr>
<tr><td>16:18:36,238 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:18:37,360  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766636513610575.png'>766636513610575.png</a>
</td></tr>
<tr><td>16:18:37,361 DEBUG - Befor click on [[ChromeDriver: chrome on XP (2fe7586834813aec035c7cb8b36cd8f6)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:18:37,404 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>16:18:37,463 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>16:18:37,499 DEBUG - Befor finding WebElement by locator By.xpath: a/div[contains(@class,'js-item-checkbox')]
</td></tr>
<tr><td>16:18:37,683 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:18:37,684 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:38,283  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766637778283240.png'>766637778283240.png</a>
</td></tr>
<tr><td>16:18:38,284 DEBUG - Befor click on [[[[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]] -> xpath: a/div[contains(@class,'js-item-checkbox')]]
</td></tr>
<tr><td>16:18:38,701 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__right']//*[@class='b-toolbar__group']//*[@class='b-toolbar__item']//div[contains(@class, 'b-toolbar__btn_grouped_last')]/i[contains(@class, 'ico_toolbar_remove')]/../..
</td></tr>
<tr><td>16:18:39,003 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:39,482  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766639077638669.png'>766639077638669.png</a>
</td></tr>
<tr><td>16:18:39,482 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-toolbar__right']//*[@class='b-toolbar__group']//*[@class='b-toolbar__item']//div[contains(@class, 'b-toolbar__btn_grouped_last')]/i[contains(@class, 'ico_toolbar_remove')]/../..]
</td></tr>
<tr><td>16:18:39,678 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>16:18:40,000 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:40,063 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir3160_31592}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 2fe7586834813aec035c7cb8b36cd8f6
</td></tr>
<tr><td>16:18:40,063 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:18:40,122 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:18:40,203 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:18:40,385  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:18:40,527 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>16:18:40,630 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>16:18:41,356  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766640900319960.png'>766640900319960.png</a>
</td></tr>
<tr><td>16:18:41,357 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']]
</td></tr>
<tr><td>16:18:41,765 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>16:18:41,981 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>16:18:42,133 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>16:18:42,892  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766642506913555.png'>766642506913555.png</a>
</td></tr>
<tr><td>16:18:42,892 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]]
</td></tr>
<tr><td>16:18:43,240 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>16:18:44,350 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>16:18:44,424 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>16:18:44,482 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>16:18:45,221  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766644753019653.png'>766644753019653.png</a>
</td></tr>
<tr><td>16:18:45,221 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']]
</td></tr>
<tr><td>16:18:46,066 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']//*[@class='b-datalist__body']//a/div[contains(@class, 'b-datalist__item__cbx')]
</td></tr>
<tr><td>16:18:50,600  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766649458472801.png'>766649458472801.png</a>
</td></tr>
<tr><td>16:18:50,600 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-letters']//*[@class='b-datalist__body']//a/div[contains(@class, 'b-datalist__item__cbx')]]
</td></tr>
<tr><td>16:18:51,304 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__right']//i[contains(@class,'ico_toolbar_remove')]/..
</td></tr>
<tr><td>16:18:52,828  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766652504865963.png'>766652504865963.png</a>
</td></tr>
<tr><td>16:18:52,828 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:18:53,153 DEBUG - LOGIN
</td></tr>
<tr><td>16:18:53,169 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:53,182  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766652433850927.png'>766652433850927.png</a>
</td></tr>
<tr><td>16:18:53,183 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-toolbar__right']//i[contains(@class,'ico_toolbar_remove')]/..]
</td></tr>
<tr><td>16:18:53,891 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>16:18:54,098 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:54,313 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>16:18:54,352 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:55,178 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:18:55,381 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>16:18:56,583 DEBUG - type login - C6Yt0CuOf
</td></tr>
<tr><td>16:18:56,583 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:57,335  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766656614489559.png'>766656614489559.png</a>
</td></tr>
<tr><td>16:18:57,336 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]]
</td></tr>
<tr><td>16:18:57,388 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:57,770 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:57,777 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>16:18:57,982 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:18:59,130 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>16:18:59,267 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>16:18:59,383  INFO - [TEST COMPLETED SUCCESSFULLY checkThatDraftCreatedAndDeleted]
</td></tr>
<tr><td>16:18:59,383 DEBUG - SEND LETTER
</td></tr>
<tr><td>16:18:59,383 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>16:18:59,383 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>16:18:59,458 DEBUG - type password - 41PWr6PTa
</td></tr>
<tr><td>16:18:59,458 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:19:00,350  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766659684576160.png'>766659684576160.png</a>
</td></tr>
<tr><td>16:19:00,350 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>16:19:00,879  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766659861331237.png'>766659861331237.png</a>
</td></tr>
<tr><td>16:19:00,880 DEBUG - Befor click on [[ChromeDriver: chrome on XP (ca2dce7975958168f6aebb713b8101c6)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:19:01,525 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:19:01,526 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:02,442 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:02,696 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:19:03,163 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:03,206 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>16:19:03,434 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:19:03,615 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>16:19:03,886 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:04,026 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir15796_3021}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: ca2dce7975958168f6aebb713b8101c6
</td></tr>
<tr><td>16:19:04,026 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:04,413 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:19:04,512 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>16:19:04,603 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:19:04,706 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:19:04,816 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>16:19:04,818  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:19:05,375 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>16:19:05,996  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766665655376538.png'>766665655376538.png</a>
</td></tr>
<tr><td>16:19:05,996 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bcc6927e1e3c8f3e9859917e47297074)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>16:19:06,311  INFO - [TEST COMPLETED SUCCESSFULLY checkThatMailDoesNotsendWithoutAddress]
</td></tr>
<tr><td>16:19:22,203  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766681892447889.png'>766681892447889.png</a>
</td></tr>
<tr><td>16:19:22,203 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:19:22,397 DEBUG - LOGIN
</td></tr>
<tr><td>16:19:22,404 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:22,669 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:22,765 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:23,253 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:24,838 DEBUG - type login - oAaHsf5TU
</td></tr>
<tr><td>16:19:24,839 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:24,956 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:25,088 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:25,202 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:25,585 DEBUG - type password - sTWasA0
</td></tr>
<tr><td>16:19:25,585 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:19:26,445  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766685848141999.png'>766685848141999.png</a>
</td></tr>
<tr><td>16:19:26,446 DEBUG - Befor click on [[ChromeDriver: chrome on XP (4bfdb76cbb0c51710d3878ea4f7abe94)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:19:26,637 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:19:26,637 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:27,606 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:28,147 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:28,687 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:28,845 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir16260_29202}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 4bfdb76cbb0c51710d3878ea4f7abe94
</td></tr>
<tr><td>16:19:28,846 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:29,086 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:19:29,201 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:19:29,285  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:19:36,791  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766696355744627.png'>766696355744627.png</a>
</td></tr>
<tr><td>16:19:36,791 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:19:36,972 DEBUG - LOGIN
</td></tr>
<tr><td>16:19:36,980 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:37,270 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:37,363 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:37,978 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:38,893 DEBUG - type login - qSX4tXJyq
</td></tr>
<tr><td>16:19:38,894 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:38,963 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:39,444 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:39,477 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:39,621 DEBUG - type password - mXZGgG
</td></tr>
<tr><td>16:19:39,621 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:19:40,665  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766699912190359.png'>766699912190359.png</a>
</td></tr>
<tr><td>16:19:40,666 DEBUG - Befor click on [[ChromeDriver: chrome on XP (2f2703cd996d0784f70c7b310a76f8ea)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:19:40,835 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:19:40,835 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:41,799 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:42,345 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:43,007 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:43,169 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir13648_28257}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 2f2703cd996d0784f70c7b310a76f8ea
</td></tr>
<tr><td>16:19:43,169 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:19:43,507 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:19:43,731 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:19:43,830  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:19:55,377  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766715009850114.png'>766715009850114.png</a>
</td></tr>
<tr><td>16:19:55,377 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:19:55,593 DEBUG - LOGIN
</td></tr>
<tr><td>16:19:55,599 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:55,847 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:56,215 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:56,719 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:19:58,198 DEBUG - type login - sN7LETC
</td></tr>
<tr><td>16:19:58,198 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:58,299 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:58,482 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:58,609 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:19:58,833 DEBUG - type password - acKkel6
</td></tr>
<tr><td>16:19:58,833 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:19:59,727  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766719141885004.png'>766719141885004.png</a>
</td></tr>
<tr><td>16:19:59,727 DEBUG - Befor click on [[ChromeDriver: chrome on XP (92b68ca70558015bdcc2816d801a1f99)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:20:00,110 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:20:00,110 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:00,949 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:01,513 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:02,086 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:02,151 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir14796_10053}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 92b68ca70558015bdcc2816d801a1f99
</td></tr>
<tr><td>16:20:02,152 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:02,246 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:02,400 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:02,469  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:20:11,805  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766731554573075.png'>766731554573075.png</a>
</td></tr>
<tr><td>16:20:11,805 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:20:11,961 DEBUG - LOGIN
</td></tr>
<tr><td>16:20:11,968 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:12,197 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:12,294 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:12,789 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:14,374 DEBUG - type login - 1bcOsiYn
</td></tr>
<tr><td>16:20:14,374 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:14,461 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:14,597 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:14,687 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:15,328 DEBUG - type password - CgR6CHMT
</td></tr>
<tr><td>16:20:15,328 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:20:16,214  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766735616227388.png'>766735616227388.png</a>
</td></tr>
<tr><td>16:20:16,215 DEBUG - Befor click on [[ChromeDriver: chrome on XP (f7380e2acf7762ae60dcd5650b1ea2f0)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:20:16,410 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:20:16,410 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:17,444 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:17,984 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:18,565 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:18,722 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir5820_24058}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: f7380e2acf7762ae60dcd5650b1ea2f0
</td></tr>
<tr><td>16:20:18,723 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:18,884 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:18,986 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:19,115  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>16:20:29,256  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766748868468154.png'>766748868468154.png</a>
</td></tr>
<tr><td>16:20:29,257 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:20:29,475 DEBUG - LOGIN
</td></tr>
<tr><td>16:20:29,484 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:29,767 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:29,942 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:30,589 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:32,059 DEBUG - type login - ezSRLOP3
</td></tr>
<tr><td>16:20:32,059 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:32,166 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:32,336 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:32,393 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:32,655 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>16:20:32,655 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:20:33,426  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766752938631130.png'>766752938631130.png</a>
</td></tr>
<tr><td>16:20:33,427 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1a440b49bbba424a5aa68ea38eb873bc)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:20:33,728 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:20:33,728 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:34,542 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:35,102 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:35,788 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:35,874 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir364_29833}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 1a440b49bbba424a5aa68ea38eb873bc
</td></tr>
<tr><td>16:20:35,874 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:35,981 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:36,942 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:37,055  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginFromLoginPage]
</td></tr>
<tr><td>16:20:45,223  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766764704180816.png'>766764704180816.png</a>
</td></tr>
<tr><td>16:20:45,223 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:20:45,428 DEBUG - LOGIN
</td></tr>
<tr><td>16:20:45,435 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:45,751 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:46,207 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:46,690 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:20:48,178 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>16:20:48,178 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:48,273 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:48,386 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:48,481 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:20:48,774 DEBUG - type password - salsVBs
</td></tr>
<tr><td>16:20:48,774 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:20:49,649  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766769055852873.png'>766769055852873.png</a>
</td></tr>
<tr><td>16:20:49,649 DEBUG - Befor click on [[ChromeDriver: chrome on XP (9a0bdfe56ba5bf3ea7445cbe62af9365)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:20:49,856 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:20:49,856 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:50,600 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:51,163 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:51,717 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:52,320 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:52,389 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir1040_31948}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 9a0bdfe56ba5bf3ea7445cbe62af9365
</td></tr>
<tr><td>16:20:52,389 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:20:52,570 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:52,697 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:20:52,776  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectPasswordFromLoginPage]
</td></tr>
<tr><td>16:21:00,094  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766779844345912.png'>766779844345912.png</a>
</td></tr>
<tr><td>16:21:00,095 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>16:21:00,276 DEBUG - LOGIN
</td></tr>
<tr><td>16:21:00,285 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:21:00,550 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:21:00,737 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:21:01,204 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>16:21:01,883 DEBUG - type login - 
</td></tr>
<tr><td>16:21:01,883 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:21:01,954 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:21:02,043 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:21:02,161 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>16:21:02,366 DEBUG - type password - 
</td></tr>
<tr><td>16:21:02,367 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>16:21:03,376  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\766782790089212.png'>766782790089212.png</a>
</td></tr>
<tr><td>16:21:03,376 DEBUG - Befor click on [[ChromeDriver: chrome on XP (74df5a5011610fa8dd7714762f24db5a)] -> css selector: input.o-control]
</td></tr>
<tr><td>16:21:03,611 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>16:21:03,611 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:21:04,330 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:21:04,861 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:21:05,400 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:21:05,941 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:21:05,979 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir15844_32504}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 74df5a5011610fa8dd7714762f24db5a
</td></tr>
<tr><td>16:21:05,979 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>16:21:06,044 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:21:06,117 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>16:21:06,199  INFO - [TEST COMPLETED SUCCESSFULLY LoginWithEmptyLoginAndPasswordFromLoginPage]
</td></tr>
</table>