<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.epam.tat.test.api.EndPointTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkThatServerResponseContainsCurrentNameOfLocalityWithCurrentCoordinates</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkThatServerResponseContainsErrorWhenEnteringIncorrectAccess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkThatHumidityExceedsHumidityLimitInNext5Days</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkThatServerResponseContainsCurrentWeatherForGomel</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
