<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest Assured Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e8568">  <td>18/05/25 16:45:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndPointTest.checkThatHumidityExceedsHumidityLimitInNext5Days()[pri:0, instance:com.epam.tat.test.api.EndPointTest@1531931]">checkThatHumidityExceedsHumidityLimitInNext5Days</td> 
  <td>main@6277111</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>18/05/25 16:45:02</td>   <td>2672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndPointTest.checkThatServerResponseContainsCurrentNameOfLocalityWithCurrentCoordinates()[pri:0, instance:com.epam.tat.test.api.EndPointTest@1531931]">checkThatServerResponseContainsCurrentNameOfLocalityWithCurrentCoordinates</td> 
  <td>main@6277111</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>18/05/25 16:45:10</td>   <td>9876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndPointTest.checkThatServerResponseContainsCurrentWeatherForGomel()[pri:0, instance:com.epam.tat.test.api.EndPointTest@1531931]">checkThatServerResponseContainsCurrentWeatherForGomel</td> 
  <td>main@6277111</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>18/05/25 16:45:15</td>   <td>14919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndPointTest.checkThatServerResponseContainsErrorWhenEnteringIncorrectAccess()[pri:0, instance:com.epam.tat.test.api.EndPointTest@1531931]">checkThatServerResponseContainsErrorWhenEnteringIncorrectAccess</td> 
  <td>main@6277111</td>   <td></td> </tr>
<tr bgcolor="e0a07f">  <td>18/05/25 16:44:59</td>   <td>-1023</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ApiBaseTest.setUp()[pri:0, instance:com.epam.tat.test.api.EndPointTest@1531931]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6277111</td>   <td></td> </tr>
</table>
