<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.epam.gomel.homework.ui.tests.MailSendTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSendMailWithoutAddress</td>
<td>notsend </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSendLetter</td>
<td>send </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSendMailWithoutTopicBody</td>
<td>send </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkTrash</td>
<td>trash </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>back</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>killDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkLoginCloudNegative</td>
<td>negative </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkLoginCloudPositive</td>
<td>positive </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>refresh</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>back</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>killDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.epam.gomel.homework.ui.tests.MailRuLoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkLoginPositive</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkLoginNegative</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>back</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>killDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkCreationFolder</td>
<td>createContent </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSharing</td>
<td>share </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkDeletionFolder</td>
<td>delete </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkDragNDrop</td>
<td>dragAndDrop </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>uploadingFile</td>
<td>createContent </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>back</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>killDriver</td>
<td>&nbsp;</td></tr>
</table>
