<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>createContent</td><td>MainCloudPageTest.uploadingFile()[pri:1, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]<br/>MainCloudPageTest.checkCreationFolder()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]<br/></td></tr>
<tr><td>delete</td><td>MainCloudPageTest.checkDeletionFolder()[pri:4, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]<br/></td></tr>
<tr><td>dragAndDrop</td><td>MainCloudPageTest.checkDragNDrop()[pri:2, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]<br/></td></tr>
<tr><td>negative</td><td>MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]<br/></td></tr>
<tr><td>positive</td><td>MailRuCloudTest.checkLoginCloudPositive()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]<br/></td></tr>
<tr><td>share</td><td>MainCloudPageTest.checkSharing()[pri:3, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]<br/></td></tr>
</table>
