<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:41</td>   <td>9679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:46</td>   <td>15544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:51</td>   <td>19751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:57</td>   <td>25829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:59</td>   <td>28293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:02</td>   <td>31209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:11</td>   <td>40189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:21</td>   <td>50309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:28</td>   <td>56789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:30</td>   <td>59637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:43</td>   <td>71834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:44</td>   <td>73574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:28</td>   <td>-2401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkCreationFolder()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkCreationFolder</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:32</td>   <td>60779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkDeletionFolder()[pri:4, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkDeletionFolder</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:57</td>   <td>26192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkDragNDrop()[pri:2, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkDragNDrop</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:25</td>   <td>-6065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:34</td>   <td>2657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:42</td>   <td>10892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:48</td>   <td>17272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:01</td>   <td>30007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:14</td>   <td>42720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:23</td>   <td>52044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:30</td>   <td>59024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudPositive()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudPositive</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:03</td>   <td>32237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkSharing()[pri:3, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkSharing</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:43</td>   <td>72202</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.killDriver()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:45</td>   <td>73776</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.killDriver()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:24</td>   <td>-7119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:31</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:41</td>   <td>9880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:47</td>   <td>15745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:59</td>   <td>28494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:11</td>   <td>40389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:21</td>   <td>50510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:28</td>   <td>56990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:10</td>   <td>-21022</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainCloudPageTest.setUp()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:10</td>   <td>-21022</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.setUp()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:51</td>   <td>20232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.uploadingFile()[pri:1, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">uploadingFile</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
</table>
