<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainCloudPageTest.setUp()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.setUp()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:24</td>   <td>13903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:25</td>   <td>14957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:28</td>   <td>18621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkCreationFolder()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkCreationFolder</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:31</td>   <td>21022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:31</td>   <td>21223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:34</td>   <td>23679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:41</td>   <td>30701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:41</td>   <td>30902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:42</td>   <td>31914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:46</td>   <td>36566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:47</td>   <td>36767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:48</td>   <td>38294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:51</td>   <td>40773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:51</td>   <td>41254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.uploadingFile()[pri:1, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">uploadingFile</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:57</td>   <td>46851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:45:57</td>   <td>47214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkDragNDrop()[pri:2, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkDragNDrop</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:59</td>   <td>49315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:45:59</td>   <td>49516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:01</td>   <td>51029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:02</td>   <td>52231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:03</td>   <td>53259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkSharing()[pri:3, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkSharing</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:11</td>   <td>61211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:11</td>   <td>61411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:14</td>   <td>63742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:21</td>   <td>71331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:21</td>   <td>71532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:23</td>   <td>73066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudNegative</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:28</td>   <td>77811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:28</td>   <td>78012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuCloudTest.refresh()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&gt;&gt;refresh</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:30</td>   <td>80046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuCloudTest.checkLoginCloudPositive()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">checkLoginCloudPositive</td> 
  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:30</td>   <td>80659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:32</td>   <td>81801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainCloudPageTest.checkDeletionFolder()[pri:4, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">checkDeletionFolder</td> 
  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:43</td>   <td>92856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>18/04/29 09:46:43</td>   <td>93224</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainCloudPageTest.killDriver()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MainCloudPageTest@18704ef]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-2@7921392</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:44</td>   <td>94596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
<tr bgcolor="fcf7ab">  <td>18/04/29 09:46:45</td>   <td>94798</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuCloudTest.killDriver()[pri:0, instance:com.epam.gomel.homework.ui.tests.cloudtests.MailRuCloudTest@1f7cd29]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-1@7840344</td>   <td></td> </tr>
</table>
