<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>BoyTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>isPrettyGirlFriendCheck</td>
<td>pretty </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>spendSomeMoneyTest</td>
<td>spend </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MoodCheckHamcrest</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>spendSomeMoneyExeption</td>
<td>spend </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>isSummerMonthCheck</td>
<td>summer </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkIsRichHamcrest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MoodCheck</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BoyIsRichIsPrettyGirlFriendIsSummerMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isRichCheck</td>
<td>rich </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>GirlTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>spendBoyFriendMoneyCheck</td>
<td>spend </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MoodCheck</td>
<td>mood </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>isBoyFriendWillBuyNewShoesCheck</td>
<td>rich </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>isSlimFriendBecameFatCheck</td>
<td>pretty </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>isRichCheck</td>
<td>rich </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
