<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>mood</td><td>GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]<br/>BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]<br/>BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]<br/></td></tr>
<tr><td>rich</td><td>GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]<br/>BoyTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:BoyTest@15fad2d]<br/>GirlTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:GirlTest@b91815]<br/></td></tr>
<tr><td>spend</td><td>BoyTest.spendSomeMoneyTest(com.epam.gomel.homework.Boy, double, double)[pri:0, instance:BoyTest@15fad2d]<br/>GirlTest.spendBoyFriendMoneyCheck(com.epam.gomel.homework.Girl, double, double)[pri:0, instance:GirlTest@b91815]<br/>BoyTest.spendSomeMoneyExeption(com.epam.gomel.homework.Boy, double)[pri:0, instance:BoyTest@15fad2d]<br/></td></tr>
<tr><td>summer</td><td>BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]<br/></td></tr>
</table>
