<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Human Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]">MoodCheck</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]">MoodCheck</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]">MoodCheck</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]">MoodCheck</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]">MoodCheck</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]">MoodCheck</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.MoodCheck(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:GirlTest@b91815]">MoodCheck</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheckHamcrest</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheckHamcrest</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheckHamcrest</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheckHamcrest</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheckHamcrest</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheckHamcrest</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.MoodCheckHamcrest(com.epam.gomel.homework.Human, com.epam.gomel.homework.Mood)[pri:0, instance:BoyTest@15fad2d]">MoodCheckHamcrest</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>-32</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BoyTest.SetUp()[pri:0, instance:BoyTest@15fad2d]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GirlTest.SetUp()[pri:0, instance:GirlTest@b91815]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isBoyFriendWillBuyNewShoesCheck(com.epam.gomel.homework.Girl, boolean)[pri:0, instance:GirlTest@b91815]">isBoyFriendWillBuyNewShoesCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:BoyTest@15fad2d]">isRichCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:BoyTest@15fad2d]">isRichCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:BoyTest@15fad2d]">isRichCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:BoyTest@15fad2d]">isRichCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:BoyTest@15fad2d]">isRichCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:BoyTest@15fad2d]">isRichCheck</td> 
  <td>pool-1-thread-4@25170662</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:GirlTest@b91815]">isRichCheck</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:GirlTest@b91815]">isRichCheck</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:GirlTest@b91815]">isRichCheck</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:GirlTest@b91815]">isRichCheck</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.isRichCheck(com.epam.gomel.homework.Human, boolean)[pri:0, instance:GirlTest@b91815]">isRichCheck</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.isSummerMonthCheck(com.epam.gomel.homework.Boy, boolean)[pri:0, instance:BoyTest@15fad2d]">isSummerMonthCheck</td> 
  <td>pool-1-thread-1@30479608</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.spendBoyFriendMoneyCheck(com.epam.gomel.homework.Girl, double, double)[pri:0, instance:GirlTest@b91815]">spendBoyFriendMoneyCheck</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.spendBoyFriendMoneyCheck(com.epam.gomel.homework.Girl, double, double)[pri:0, instance:GirlTest@b91815]">spendBoyFriendMoneyCheck</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.spendBoyFriendMoneyCheck(com.epam.gomel.homework.Girl, double, double)[pri:0, instance:GirlTest@b91815]">spendBoyFriendMoneyCheck</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.spendBoyFriendMoneyCheck(com.epam.gomel.homework.Girl, double, double)[pri:0, instance:GirlTest@b91815]">spendBoyFriendMoneyCheck</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.spendBoyFriendMoneyCheck(com.epam.gomel.homework.Girl, double, double)[pri:0, instance:GirlTest@b91815]">spendBoyFriendMoneyCheck</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/03/31 18:26:52</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GirlTest.spendBoyFriendMoneyCheck(com.epam.gomel.homework.Girl, double, double)[pri:0, instance:GirlTest@b91815]">spendBoyFriendMoneyCheck</td> 
  <td>pool-1-thread-3@25762139</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.spendSomeMoneyExeption(com.epam.gomel.homework.Boy, double)[pri:0, instance:BoyTest@15fad2d]">spendSomeMoneyExeption</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.spendSomeMoneyExeption(com.epam.gomel.homework.Boy, double)[pri:0, instance:BoyTest@15fad2d]">spendSomeMoneyExeption</td> 
  <td>pool-1-thread-5@15901277</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.spendSomeMoneyTest(com.epam.gomel.homework.Boy, double, double)[pri:0, instance:BoyTest@15fad2d]">spendSomeMoneyTest</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.spendSomeMoneyTest(com.epam.gomel.homework.Boy, double, double)[pri:0, instance:BoyTest@15fad2d]">spendSomeMoneyTest</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/03/31 18:26:52</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyTest.spendSomeMoneyTest(com.epam.gomel.homework.Boy, double, double)[pri:0, instance:BoyTest@15fad2d]">spendSomeMoneyTest</td> 
  <td>pool-1-thread-2@16072715</td>   <td></td> </tr>
</table>
