<h2>Methods that were not run</h2><table>
<tr><td>BoyTest.checkIsRichHamcrest</td></tr>
<tr><td>BoyTest.BoyIsRichIsPrettyGirlFriendIsSummerMonth<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>verify hamcrest and my matcher</i></td></tr>
<tr><td>GirlTest.isSlimFriendBecameFatCheck<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>check fat</i></td></tr>
<tr><td>BoyTest.isPrettyGirlFriendCheck<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>check up that girlfriend is pretty</i></td></tr>
</table>