<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:42</td>   <td>21018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:29</td>   <td>67719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:00</td>   <td>99361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:19</td>   <td>118579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:37</td>   <td>135948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:57</td>   <td>156626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:19</td>   <td>177985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:41</td>   <td>200292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:23:07</td>   <td>226503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:50</td>   <td>29213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileDragNDropSuccessfuly()[pri:4, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFileDragNDropSuccessfuly</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:45</td>   <td>24149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileUploadsSuccessfuly()[pri:3, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFileUploadsSuccessfuly</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:18:56</td>   <td>-25299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsCreated()[pri:1, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFolderIsCreated</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:21</td>   <td>-238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsRemoved()[pri:2, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFolderIsRemoved</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:18</td>   <td>56809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatLinkToItemIsShared()[pri:5, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatLinkToItemIsShared</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:19</td>   <td>-2160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:44</td>   <td>22886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:48</td>   <td>26964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:17</td>   <td>55738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:42</td>   <td>81505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:44</td>   <td>82840</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.killDriver()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:00</td>   <td>-21135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginAsSpecificCustomerOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginAsSpecificCustomerOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:35</td>   <td>13691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithCorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithCorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:20</td>   <td>58772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginAndPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithEmptyLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:55</td>   <td>94108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithEmptyLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:15</td>   <td>113915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithEmptyPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:31</td>   <td>129711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:52</td>   <td>151052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:10</td>   <td>169526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:36</td>   <td>194875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:23:01</td>   <td>220302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:18:33</td>   <td>-47601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:22</td>   <td>1556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:47</td>   <td>26188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:32</td>   <td>71316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:02</td>   <td>100701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:21</td>   <td>119917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:38</td>   <td>137347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:59</td>   <td>158276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:20</td>   <td>179539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:43</td>   <td>201640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:18:33</td>   <td>-47601</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProfileCloudTest.setUp()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
</table>
