<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:18:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:18:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProfileCloudTest.setUp()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:18:56</td>   <td>22302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsCreated()[pri:1, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFolderIsCreated</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:00</td>   <td>26466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginAsSpecificCustomerOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginAsSpecificCustomerOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:19</td>   <td>45441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:21</td>   <td>47363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsRemoved()[pri:2, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFolderIsRemoved</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:21</td>   <td>47601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:22</td>   <td>49157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:35</td>   <td>61292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithCorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithCorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:42</td>   <td>68619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:44</td>   <td>70487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:45</td>   <td>71750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileUploadsSuccessfuly()[pri:3, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFileUploadsSuccessfuly</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:19:47</td>   <td>73789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:48</td>   <td>74565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:19:50</td>   <td>76814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileDragNDropSuccessfuly()[pri:4, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatFileDragNDropSuccessfuly</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:17</td>   <td>103339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:18</td>   <td>104410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatLinkToItemIsShared()[pri:5, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">checkThatLinkToItemIsShared</td> 
  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:20</td>   <td>106373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginAndPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithEmptyLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:29</td>   <td>115320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:32</td>   <td>118917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:42</td>   <td>129106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/28 18:20:44</td>   <td>130441</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.killDriver()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f5b51f]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@14201341</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:20:55</td>   <td>141709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithEmptyLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:00</td>   <td>146962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:02</td>   <td>148302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:15</td>   <td>161516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithEmptyPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:19</td>   <td>166180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:21</td>   <td>167518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:31</td>   <td>177312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:37</td>   <td>183549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:38</td>   <td>184948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:52</td>   <td>198653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:57</td>   <td>204227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:21:59</td>   <td>205877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:10</td>   <td>217127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:19</td>   <td>225586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:20</td>   <td>227140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:36</td>   <td>242476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:41</td>   <td>247893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:22:43</td>   <td>249241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:23:01</td>   <td>267903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">loginWithIncorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/28 18:23:07</td>   <td>274104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d4004b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@31820414</td>   <td></td> </tr>
</table>
