<h2>Reporter output</h2><table><tr><td>18:18:33,050  INFO - parse Cli
</td></tr>
<tr><td>18:18:33,053  INFO - Parse cli using JCommander
</td></tr>
<tr><td>18:18:33,725  INFO - [START SUITE] ParallelMode:classes threadCount:2 Cloud Suite
</td></tr>
<tr><td>18:18:33,726  INFO - [TESTCLASS STARTED] CloudTest
</td></tr>
<tr><td>18:18:49,925  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10933839224395.png'>10933839224395.png</a>
</td></tr>
<tr><td>18:18:49,925 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:18:49,925  INFO - [LOGIN]
</td></tr>
<tr><td>18:18:50,942 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:18:52,394  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10936379671633.png'>10936379671633.png</a>
</td></tr>
<tr><td>18:18:52,394 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:18:52,815 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:18:53,328 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:18:53,465 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:18:53,579 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:18:54,279 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:18:54,358 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:18:54,440 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:18:54,541 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:18:54,746 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:18:55,775  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10939922749304.png'>10939922749304.png</a>
</td></tr>
<tr><td>18:18:55,776 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:18:56,065  INFO - [TEST STARTED] checkThatFolderIsCreated
</td></tr>
<tr><td>18:18:56,066  INFO - [CREATE FOLDER]
</td></tr>
<tr><td>18:18:56,066 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:18:33,050  INFO - parse Cli
</td></tr>
<tr><td>18:18:33,053  INFO - Parse cli using JCommander
</td></tr>
<tr><td>18:18:33,725  INFO - [START SUITE] ParallelMode:classes threadCount:2 Cloud Suite
</td></tr>
<tr><td>18:18:33,726  INFO - [TESTCLASS STARTED] CloudTest
</td></tr>
<tr><td>18:18:56,676  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10940691867629.png'>10940691867629.png</a>
</td></tr>
<tr><td>18:18:56,676 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:18:56,677 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:18:59,028  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10942776759169.png'>10942776759169.png</a>
</td></tr>
<tr><td>18:18:59,029 DEBUG - Befor click on [[ChromeDriver: chrome on XP (055ec8beda13a25123387a60d5aedcd7)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:19:00,229  INFO - [TEST STARTED] loginAsSpecificCustomerOnCloudFromLoginPage
</td></tr>
<tr><td>18:19:00,230 DEBUG - LOGIN
</td></tr>
<tr><td>18:19:01,123 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:01,339 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:01,581 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:01,723 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:03,096 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:03,511 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:03,694 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:03,741 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:05,527 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:19:07,444 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:08,230  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10950694843240.png'>10950694843240.png</a>
</td></tr>
<tr><td>18:19:08,230 DEBUG - Befor click on [[ChromeDriver: chrome on XP (055ec8beda13a25123387a60d5aedcd7)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:19:08,609 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:19:08,609 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:19:09,612  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10952606513150.png'>10952606513150.png</a>
</td></tr>
<tr><td>18:19:09,613 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: .b-layer__container_disko-promo .b-panel__close__icon]
</td></tr>
<tr><td>18:19:09,824 DEBUG - Befor finding WebElement by locator By.cssSelector: #toolbar-left .b-dropdown
</td></tr>
<tr><td>18:19:11,250  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10955242922362.png'>10955242922362.png</a>
</td></tr>
<tr><td>18:19:11,252 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: #toolbar-left .b-dropdown]
</td></tr>
<tr><td>18:19:12,313 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-dropdown_expanded>div>a[data-name='folder']
</td></tr>
<tr><td>18:19:13,727  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10957538321130.png'>10957538321130.png</a>
</td></tr>
<tr><td>18:19:13,727 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: .b-dropdown_expanded>div>a[data-name='folder']]
</td></tr>
<tr><td>18:19:14,687 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:19:15,125 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:19:16,481 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form button.btn_main
</td></tr>
<tr><td>18:19:17,636  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10961674579301.png'>10961674579301.png</a>
</td></tr>
<tr><td>18:19:17,637 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: form.layer__form button.btn_main]
</td></tr>
<tr><td>18:19:18,093 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:18,909 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:19,203  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFolderIsCreated]
</td></tr>
<tr><td>18:19:19,204 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:19:20,745  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10964541778454.png'>10964541778454.png</a>
</td></tr>
<tr><td>18:19:20,746 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:19:20,826 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
</td></tr>
<tr><td>18:19:20,826 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:19:21,126  INFO - [TEST STARTED] checkThatFolderIsRemoved
</td></tr>
<tr><td>18:19:21,128  INFO - [DELETE FOLDER]
</td></tr>
<tr><td>18:19:21,128 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:21,242 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:21,247 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:19:21,292 DEBUG - Befor finding WebElement by locator By.xpath: //*[text()='MyFolder' and @class='b-filename__name']/../../../..//*[@class='b-checkbox__box']
</td></tr>
<tr><td>18:19:21,363  INFO - [TEST COMPLETED SUCCESSFULLY loginAsSpecificCustomerOnCloudFromLoginPage]
</td></tr>
<tr><td>18:19:22,392  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10966444192138.png'>10966444192138.png</a>
</td></tr>
<tr><td>18:19:22,393 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> xpath: //*[text()='MyFolder' and @class='b-filename__name']/../../../..//*[@class='b-checkbox__box']]
</td></tr>
<tr><td>18:19:22,545 DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:19:23,143 DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:19:23,198 DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:19:24,103  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10968345838240.png'>10968345838240.png</a>
</td></tr>
<tr><td>18:19:24,103 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]]
</td></tr>
<tr><td>18:19:24,273 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls__buttons>button.btn_main
</td></tr>
<tr><td>18:19:24,712 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls__buttons>button.btn_main
</td></tr>
<tr><td>18:19:25,991  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10969894574437.png'>10969894574437.png</a>
</td></tr>
<tr><td>18:19:25,991 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: .layer_remove .b-layer__controls__buttons>button.btn_main]
</td></tr>
<tr><td>18:19:26,427 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>18:19:26,973 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>18:19:27,511 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>18:19:27,686 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>18:19:29,358  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10972908671257.png'>10972908671257.png</a>
</td></tr>
<tr><td>18:19:29,359 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]]
</td></tr>
<tr><td>18:19:30,135 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:19:30,577 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:19:31,679  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10975761594388.png'>10975761594388.png</a>
</td></tr>
<tr><td>18:19:31,680 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]]
</td></tr>
<tr><td>18:19:32,297 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls button[data-name='empty']
</td></tr>
<tr><td>18:19:32,405 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls button[data-name='empty']
</td></tr>
<tr><td>18:19:33,341  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10977556697472.png'>10977556697472.png</a>
</td></tr>
<tr><td>18:19:33,341 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: .layer_remove .b-layer__controls button[data-name='empty']]
</td></tr>
<tr><td>18:19:33,555 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:33,655 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:33,728  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10978403517485.png'>10978403517485.png</a>
</td></tr>
<tr><td>18:19:33,728 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:19:33,728 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:19:34,128 DEBUG - Stale element reference exception by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:34,128 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:34,429  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10978964512399.png'>10978964512399.png</a>
</td></tr>
<tr><td>18:19:34,430 DEBUG - Befor click on [[ChromeDriver: chrome on XP (0a4fcb62a35e5bbcdf47780c4f980a4e)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:19:34,652 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:35,055  INFO - [TEST STARTED] loginWithCorrectLoginOnCloudFromLoginPage
</td></tr>
<tr><td>18:19:35,102 DEBUG - LOGIN
</td></tr>
<tr><td>18:19:35,307 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:35,373 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:35,507 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:35,579 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:35,613 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:19:35,942 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:35,944 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:36,009 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:36,095 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:36,208 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:19:36,476 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:36,508 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:19:37,011 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:37,395  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10981688865564.png'>10981688865564.png</a>
</td></tr>
<tr><td>18:19:37,395 DEBUG - Befor click on [[ChromeDriver: chrome on XP (0a4fcb62a35e5bbcdf47780c4f980a4e)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:19:37,536 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:19:37,536 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:19:37,537 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:38,162 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:38,847 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:39,525 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:40,245 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:41,260 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:42,213 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir15628_8854}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 0a4fcb62a35e5bbcdf47780c4f980a4e
</td></tr>
<tr><td>18:19:42,213 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:19:42,229 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:42,381  INFO - [TEST COMPLETED SUCCESSFULLY loginWithCorrectLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>18:19:42,794 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:43,434 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:44,197 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:19:44,249  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFolderIsRemoved]
</td></tr>
<tr><td>18:19:44,250 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:19:44,858  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10989388781936.png'>10989388781936.png</a>
</td></tr>
<tr><td>18:19:44,858 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:19:45,513  INFO - [TEST STARTED] checkThatFileUploadsSuccessfuly
</td></tr>
<tr><td>18:19:45,514  INFO - [UPLOAD FILE]
</td></tr>
<tr><td>18:19:45,514 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='cloud_toolbars']//*[contains(@class, 'ico_toolbar_upload')]/..
</td></tr>
<tr><td>18:19:47,165  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10990921836652.png'>10990921836652.png</a>
</td></tr>
<tr><td>18:19:47,165 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> xpath: //*[@id='cloud_toolbars']//*[contains(@class, 'ico_toolbar_upload')]/..]
</td></tr>
<tr><td>18:19:47,372 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_upload__controls input[type='file']
</td></tr>
<tr><td>18:19:48,157 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='js-upload-panel']//*[@class='b-filename__name' and contains(text(),'web_driver_drawing_cat')]
</td></tr>
<tr><td>18:19:48,247 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='js-upload-panel']//*[@class='b-filename__name' and contains(text(),'web_driver_drawing_cat')]
</td></tr>
<tr><td>18:19:48,328  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFileUploadsSuccessfuly]
</td></tr>
<tr><td>18:19:48,328 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:19:49,630  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\10993493599064.png'>10993493599064.png</a>
</td></tr>
<tr><td>18:19:49,631 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:19:50,577  INFO - [TEST STARTED] checkThatFileDragNDropSuccessfuly
</td></tr>
<tr><td>18:19:50,599  INFO - [CREATE FOLDER]
</td></tr>
<tr><td>18:19:50,599 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:51,331 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:52,799 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:53,363 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:54,192 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:54,853 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:55,707 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:56,572 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:57,189 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:57,721 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:58,255 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:58,784 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:59,342 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:19:59,875 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:20:00,407 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:20:00,956 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:20:00,986 DEBUG - [advertising is absent]
</td></tr>
<tr><td>18:20:00,986 DEBUG - Befor finding WebElement by locator By.cssSelector: #toolbar-left .b-dropdown
</td></tr>
<tr><td>18:20:01,856  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11006127991824.png'>11006127991824.png</a>
</td></tr>
<tr><td>18:20:01,857 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: #toolbar-left .b-dropdown]
</td></tr>
<tr><td>18:20:02,010 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-dropdown_expanded>div>a[data-name='folder']
</td></tr>
<tr><td>18:20:03,000  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11007144631611.png'>11007144631611.png</a>
</td></tr>
<tr><td>18:20:03,001 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: .b-dropdown_expanded>div>a[data-name='folder']]
</td></tr>
<tr><td>18:20:03,411 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:20:03,732 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:20:04,411 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form button.btn_main
</td></tr>
<tr><td>18:20:05,893  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11009595847626.png'>11009595847626.png</a>
</td></tr>
<tr><td>18:20:05,894 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: form.layer__form button.btn_main]
</td></tr>
<tr><td>18:20:07,936 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:20:09,333 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:20:09,841 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:20:09,919 DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@data-id,'web_driver_drawing_cat.gif') and contains(@class, 'b-thumb')]
</td></tr>
<tr><td>18:20:09,962 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:20:10,060 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:20:10,128  INFO - [ACTION DRAG'N'DROP]
</td></tr>
<tr><td>18:20:12,804  INFO - ACTION CLICK MOVEBUTTON
</td></tr>
<tr><td>18:20:12,804 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-name='move']
</td></tr>
<tr><td>18:20:12,871 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-name='move']
</td></tr>
<tr><td>18:20:15,870 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-filename')]/div[contains(text(),'web_driver_drawing_cat')]/../../../..
</td></tr>
<tr><td>18:20:16,806 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-filename')]/div[contains(text(),'web_driver_drawing_cat')]/../../../..
</td></tr>
<tr><td>18:20:17,101  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFileDragNDropSuccessfuly]
</td></tr>
<tr><td>18:20:17,102 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:20:17,884  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11022244005683.png'>11022244005683.png</a>
</td></tr>
<tr><td>18:20:17,884 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:20:18,173  INFO - [TEST STARTED] checkThatLinkToItemIsShared
</td></tr>
<tr><td>18:20:18,173  INFO - [SHARE]
</td></tr>
<tr><td>18:20:18,177 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:20:18,555  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11022732482549.png'>11022732482549.png</a>
</td></tr>
<tr><td>18:20:18,555 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:20:18,555 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:20:18,739 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:20:19,338 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:20:19,470  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11023720481968.png'>11023720481968.png</a>
</td></tr>
<tr><td>18:20:19,470 DEBUG - Befor click on [[ChromeDriver: chrome on XP (5fa19c6df28082b487425c20ed4eb317)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:20:20,136  INFO - [TEST STARTED] loginWithEmptyLoginAndPasswordOnCloudFromLoginPage
</td></tr>
<tr><td>18:20:20,136 DEBUG - LOGIN
</td></tr>
<tr><td>18:20:20,535 DEBUG - Befor finding WebElement by locator By.cssSelector: a[data-name='publish']
</td></tr>
<tr><td>18:20:20,540 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:20,771 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:20,965 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:21,025 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>18:20:21,047 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:21,327 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:21,469 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:21,561 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:21,669 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:21,709 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>18:20:21,802 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>18:20:21,814 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:20:21,873 DEBUG - Befor finding WebElement by locator By.cssSelector: input[data-name='url']
</td></tr>
<tr><td>18:20:22,262 DEBUG - Befor finding WebElement by locator By.cssSelector: input[data-name='url']
</td></tr>
<tr><td>18:20:24,890 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container.b-layer__container_publish button[data-name='close']
</td></tr>
<tr><td>18:20:25,189  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11026979103305.png'>11026979103305.png</a>
</td></tr>
<tr><td>18:20:25,189 DEBUG - Befor click on [[ChromeDriver: chrome on XP (5fa19c6df28082b487425c20ed4eb317)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:20:25,925 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:20:25,926 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:20:27,058 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:20:27,638 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:20:28,601 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir1412_8667}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 5fa19c6df28082b487425c20ed4eb317
</td></tr>
<tr><td>18:20:28,602 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:20:29,083  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:20:41,045 DEBUG - Befor finding WebElement by locator By.cssSelector: iframe[id]
</td></tr>
<tr><td>18:20:42,220 DEBUG - Befor finding WebElement by locator By.cssSelector: #tinymce
</td></tr>
<tr><td>18:20:42,561 DEBUG - Befor finding WebElement by locator By.cssSelector: #tinymce
</td></tr>
<tr><td>18:20:42,868  INFO - [END SHARE]
</td></tr>
<tr><td>18:20:42,868  INFO - [TEST COMPLETED SUCCESSFULLY checkThatLinkToItemIsShared]
</td></tr>
<tr><td>18:20:42,869 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:20:43,980  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11048066251941.png'>11048066251941.png</a>
</td></tr>
<tr><td>18:20:43,981 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bae4403f2098318a2a787fcf68344bee)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:20:54,641  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11058979055945.png'>11058979055945.png</a>
</td></tr>
<tr><td>18:20:54,642 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:20:54,642 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:20:55,248  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11059786739456.png'>11059786739456.png</a>
</td></tr>
<tr><td>18:20:55,248 DEBUG - Befor click on [[ChromeDriver: chrome on XP (0d5c101f87618213e2a39632fc8c3630)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:20:55,472  INFO - [TEST STARTED] loginWithEmptyLoginOnCloudFromLoginPage
</td></tr>
<tr><td>18:20:55,472 DEBUG - LOGIN
</td></tr>
<tr><td>18:20:55,783 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:55,910 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:55,986 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:56,052 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:20:56,166 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:56,326 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:56,441 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:56,487 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:20:57,003 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:20:58,004  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11062155900448.png'>11062155900448.png</a>
</td></tr>
<tr><td>18:20:58,004 DEBUG - Befor click on [[ChromeDriver: chrome on XP (0d5c101f87618213e2a39632fc8c3630)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:20:58,329 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:20:58,329 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:20:58,924 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:20:59,508 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:00,049 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:00,609 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:00,645 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir4944_30524}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 0d5c101f87618213e2a39632fc8c3630
</td></tr>
<tr><td>18:21:00,645 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:00,725  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>18:21:14,359  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11078568750106.png'>11078568750106.png</a>
</td></tr>
<tr><td>18:21:14,360 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:21:14,360 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:21:15,068  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11079538396224.png'>11079538396224.png</a>
</td></tr>
<tr><td>18:21:15,068 DEBUG - Befor click on [[ChromeDriver: chrome on XP (76f67439d0fe99da7c8c4a7615708ac8)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:21:15,279  INFO - [TEST STARTED] loginWithEmptyPasswordOnCloudFromLoginPage
</td></tr>
<tr><td>18:21:15,280 DEBUG - LOGIN
</td></tr>
<tr><td>18:21:15,583 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:15,765 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:15,848 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:15,884 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:16,174 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:16,239 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:16,306 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:16,357 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:16,492 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:21:17,379  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11081646196217.png'>11081646196217.png</a>
</td></tr>
<tr><td>18:21:17,379 DEBUG - Befor click on [[ChromeDriver: chrome on XP (76f67439d0fe99da7c8c4a7615708ac8)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:21:17,673 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:21:17,673 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:18,241 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:18,780 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:19,318 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:19,855 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:19,887 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir11580_16282}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 76f67439d0fe99da7c8c4a7615708ac8
</td></tr>
<tr><td>18:21:19,887 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:19,942  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:21:30,092  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11094213981192.png'>11094213981192.png</a>
</td></tr>
<tr><td>18:21:30,092 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:21:30,092 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:21:30,806  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11095306183332.png'>11095306183332.png</a>
</td></tr>
<tr><td>18:21:30,807 DEBUG - Befor click on [[ChromeDriver: chrome on XP (dfec6a68f566ff3ba3fbad1971f90e3d)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:21:31,075  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage
</td></tr>
<tr><td>18:21:31,076 DEBUG - LOGIN
</td></tr>
<tr><td>18:21:31,684 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:31,888 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:31,982 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:32,015 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:32,455 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:32,528 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:32,601 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:32,718 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:33,002 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:21:33,874  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11098154374669.png'>11098154374669.png</a>
</td></tr>
<tr><td>18:21:33,874 DEBUG - Befor click on [[ChromeDriver: chrome on XP (dfec6a68f566ff3ba3fbad1971f90e3d)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:21:34,073 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:21:34,073 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:37,238 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir1972_15530}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: dfec6a68f566ff3ba3fbad1971f90e3d
</td></tr>
<tr><td>18:21:37,238 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:37,312  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:21:50,524  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11114415281262.png'>11114415281262.png</a>
</td></tr>
<tr><td>18:21:50,525 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:21:50,525 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:21:52,166  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11116348384619.png'>11116348384619.png</a>
</td></tr>
<tr><td>18:21:52,166 DEBUG - Befor click on [[ChromeDriver: chrome on XP (3716a732bad6fe93c64a7b94235a5648)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:21:52,416  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage
</td></tr>
<tr><td>18:21:52,416 DEBUG - LOGIN
</td></tr>
<tr><td>18:21:52,784 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:52,858 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:52,927 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:52,958 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:21:53,242 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:53,307 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:53,405 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:53,458 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:21:53,657 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:21:54,604  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11118811615295.png'>11118811615295.png</a>
</td></tr>
<tr><td>18:21:54,604 DEBUG - Befor click on [[ChromeDriver: chrome on XP (3716a732bad6fe93c64a7b94235a5648)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:21:54,786 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:21:54,786 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:57,804 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir3140_30618}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 3716a732bad6fe93c64a7b94235a5648
</td></tr>
<tr><td>18:21:57,804 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:21:57,990  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:22:09,699  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11134390937484.png'>11134390937484.png</a>
</td></tr>
<tr><td>18:22:09,700 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:22:09,700 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:22:10,383  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11134868774853.png'>11134868774853.png</a>
</td></tr>
<tr><td>18:22:10,383 DEBUG - Befor click on [[ChromeDriver: chrome on XP (522a2f57d612993cae59eac4548c637d)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:22:10,890  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage
</td></tr>
<tr><td>18:22:10,891 DEBUG - LOGIN
</td></tr>
<tr><td>18:22:11,237 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:11,312 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:11,385 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:11,416 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:11,879 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:11,952 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:12,229 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:12,290 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:12,676 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:22:13,637  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11137900362671.png'>11137900362671.png</a>
</td></tr>
<tr><td>18:22:13,637 DEBUG - Befor click on [[ChromeDriver: chrome on XP (522a2f57d612993cae59eac4548c637d)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:22:13,860 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:22:13,860 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:22:18,592 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir15160_12077}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 522a2f57d612993cae59eac4548c637d
</td></tr>
<tr><td>18:22:18,592 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:22:19,349  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:22:35,407  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11159430137985.png'>11159430137985.png</a>
</td></tr>
<tr><td>18:22:35,407 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:22:35,408 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:22:35,991  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11160563565186.png'>11160563565186.png</a>
</td></tr>
<tr><td>18:22:35,992 DEBUG - Befor click on [[ChromeDriver: chrome on XP (4deade13e5c70d7dfc5de204a1d183cb)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:22:36,239  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage
</td></tr>
<tr><td>18:22:36,239 DEBUG - LOGIN
</td></tr>
<tr><td>18:22:36,486 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:36,743 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:36,808 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:36,842 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:22:37,064 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:37,121 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:37,184 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:37,229 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:22:37,482 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:22:38,328  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11162627636833.png'>11162627636833.png</a>
</td></tr>
<tr><td>18:22:38,328 DEBUG - Befor click on [[ChromeDriver: chrome on XP (4deade13e5c70d7dfc5de204a1d183cb)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:22:38,475 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:22:38,475 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:22:41,485 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
</td></tr>
<tr><td>18:22:41,486 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:22:41,656  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:23:00,848  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11185318542744.png'>11185318542744.png</a>
</td></tr>
<tr><td>18:23:00,849 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:23:00,849 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:23:01,467  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11185997368286.png'>11185997368286.png</a>
</td></tr>
<tr><td>18:23:01,468 DEBUG - Befor click on [[ChromeDriver: chrome on XP (7efe852d8a2f8efdff1861cc11d60cbb)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:23:01,666  INFO - [TEST STARTED] loginWithIncorrectLoginOnCloudFromLoginPage
</td></tr>
<tr><td>18:23:01,667 DEBUG - LOGIN
</td></tr>
<tr><td>18:23:01,860 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:23:02,042 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:23:02,113 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:23:02,142 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:23:02,378 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:23:02,431 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:23:02,521 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:23:02,565 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:23:02,974 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:23:03,841  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\11188136777430.png'>11188136777430.png</a>
</td></tr>
<tr><td>18:23:03,841 DEBUG - Befor click on [[ChromeDriver: chrome on XP (7efe852d8a2f8efdff1861cc11d60cbb)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:23:03,933 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:23:03,933 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:23:07,792 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir5292_32089}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 7efe852d8a2f8efdff1861cc11d60cbb
</td></tr>
<tr><td>18:23:07,793 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:23:07,867  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginOnCloudFromLoginPage]
</td></tr>
</table>