<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:26:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:00</td>   <td>34759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:19</td>   <td>53405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:39</td>   <td>73933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:07</td>   <td>101461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:29</td>   <td>123173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:43</td>   <td>137711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:57</td>   <td>151315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:12</td>   <td>166359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:26</td>   <td>180375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:41</td>   <td>195807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:56</td>   <td>210351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:30:11</td>   <td>225719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:30:28</td>   <td>242149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:27:09</td>   <td>43565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileDragNDropSuccessfuly()[pri:4, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">checkThatFileDragNDropSuccessfuly</td> 
  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:26:59</td>   <td>33328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileUploadsSuccessfuly()[pri:3, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">checkThatFileUploadsSuccessfuly</td> 
  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:26:01</td>   <td>-24494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsCreated()[pri:1, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">checkThatFolderIsCreated</td> 
  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:26:32</td>   <td>6285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsRemoved()[pri:2, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">checkThatFolderIsRemoved</td> 
  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:27:35</td>   <td>69624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatLinkToItemIsShared()[pri:5, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">checkThatLinkToItemIsShared</td> 
  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:26:30</td>   <td>4580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:26:56</td>   <td>30504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:27:03</td>   <td>37406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:27:33</td>   <td>67857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:27:53</td>   <td>87629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:27:59</td>   <td>93307</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.killDriver()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:25:56</td>   <td>-29213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginAsSpecificCustomerOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginAsSpecificCustomerOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:26:53</td>   <td>27249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithCorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithCorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:14</td>   <td>48212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginAndPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithEmptyLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:33</td>   <td>67774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithEmptyLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:01</td>   <td>96017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithEmptyPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:22</td>   <td>116343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:37</td>   <td>131968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:52</td>   <td>146199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:06</td>   <td>160696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:21</td>   <td>175174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:36</td>   <td>190023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:50</td>   <td>204444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:30:05</td>   <td>219837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:30:22</td>   <td>236031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">loginWithIncorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:25:09</td>   <td>-76246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:26:34</td>   <td>8161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:02</td>   <td>36902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:20</td>   <td>54720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:27:43</td>   <td>77978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:08</td>   <td>102735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:30</td>   <td>124440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:44</td>   <td>138932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:28:58</td>   <td>152545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:13</td>   <td>167765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:27</td>   <td>181694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:43</td>   <td>197153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:29:57</td>   <td>211574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="d09fa4">  <td>18/05/09 18:30:12</td>   <td>227021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@1d20d0b]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@10801366</td>   <td></td> </tr>
<tr bgcolor="646283">  <td>18/05/09 18:25:09</td>   <td>-76257</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProfileCloudTest.setUp()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@1f1baf5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@12493439</td>   <td></td> </tr>
</table>
