<h2>Reporter output</h2><table><tr><td>18:22:46,908  INFO - parse Cli
</td></tr>
<tr><td>18:22:53,695  INFO - Parse cli using JCommander
</td></tr>
<tr><td>18:25:05,137  INFO - [START SUITE] Cloud Suite
</td></tr>
<tr><td>18:25:09,606  INFO - [TESTCLASS STARTED] CloudTest
</td></tr>
<tr><td>18:25:52,780  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779081069409036.png'>779081069409036.png</a>
</td></tr>
<tr><td>18:25:52,780 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:25:52,781  INFO - [LOGIN]
</td></tr>
<tr><td>18:25:53,221 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:22:46,908  INFO - parse Cli
</td></tr>
<tr><td>18:22:53,695  INFO - Parse cli using JCommander
</td></tr>
<tr><td>18:25:05,137  INFO - [START SUITE] Cloud Suite
</td></tr>
<tr><td>18:25:09,606  INFO - [TESTCLASS STARTED] CloudTest
</td></tr>
<tr><td>18:25:53,766  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779082038708204.png'>779082038708204.png</a>
</td></tr>
<tr><td>18:25:53,767 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:25:53,767 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:25:55,420  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779083721784005.png'>779083721784005.png</a>
</td></tr>
<tr><td>18:25:55,421 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:25:55,785  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779084052249100.png'>779084052249100.png</a>
</td></tr>
<tr><td>18:25:55,787 DEBUG - Befor click on [[ChromeDriver: chrome on XP (31a13571b43b4af53a06d6932406f927)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:25:56,143 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:56,780 DEBUG - LOGIN
</td></tr>
<tr><td>18:25:57,133 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:57,489 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:57,565 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:57,621 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:57,732 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:57,878 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:57,933 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:25:58,622 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:58,798 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:58,889 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:58,964 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:59,201 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:59,225 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:59,341 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:59,469 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:25:59,547 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:26:01,251  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779089827648412.png'>779089827648412.png</a>
</td></tr>
<tr><td>18:26:01,252 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:26:01,312 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:26:01,483  INFO - [CREATE FOLDER]
</td></tr>
<tr><td>18:26:01,484 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:26:05,542  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779091572986903.png'>779091572986903.png</a>
</td></tr>
<tr><td>18:26:05,543 DEBUG - Befor click on [[ChromeDriver: chrome on XP (31a13571b43b4af53a06d6932406f927)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:26:06,922 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:26:06,923 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:26:19,246 DEBUG - Expected condition failed: waiting for visibility of element located by By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon (tried for 10 second(s) with 500 MILLISECONDS interval)
</td></tr>
<tr><td>18:26:19,247 DEBUG - Befor finding WebElement by locator By.cssSelector: #toolbar-left .b-dropdown
</td></tr>
<tr><td>18:26:22,500  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779109586166833.png'>779109586166833.png</a>
</td></tr>
<tr><td>18:26:22,501 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #toolbar-left .b-dropdown]
</td></tr>
<tr><td>18:26:22,899 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-dropdown_expanded>div>a[data-name='folder']
</td></tr>
<tr><td>18:26:23,994 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
</td></tr>
<tr><td>18:26:23,994 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:26:25,017 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:26:25,927  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779113321507521.png'>779113321507521.png</a>
</td></tr>
<tr><td>18:26:25,927 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: .b-dropdown_expanded>div>a[data-name='folder']]
</td></tr>
<tr><td>18:26:25,975  INFO - [TEST COMPLETED SUCCESSFULLY loginAsSpecificCustomerOnCloudFromLoginPage]
</td></tr>
<tr><td>18:26:26,594 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:26:27,522 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:26:27,954 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form button.btn_main
</td></tr>
<tr><td>18:26:29,402  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779118218605077.png'>779118218605077.png</a>
</td></tr>
<tr><td>18:26:29,403 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: form.layer__form button.btn_main]
</td></tr>
<tr><td>18:26:29,585 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:29,718 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:30,555  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFolderIsCreated]
</td></tr>
<tr><td>18:26:30,557 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:26:32,100  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779120838331025.png'>779120838331025.png</a>
</td></tr>
<tr><td>18:26:32,101 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:26:32,262  INFO - [DELETE FOLDER]
</td></tr>
<tr><td>18:26:32,263 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:32,323 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:32,383 DEBUG - Befor finding WebElement by locator By.xpath: //*[text()='MyFolder' and @class='b-filename__name']/../../../..//*[@class='b-checkbox__box']
</td></tr>
<tr><td>18:26:33,996  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779122626417034.png'>779122626417034.png</a>
</td></tr>
<tr><td>18:26:33,997 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> xpath: //*[text()='MyFolder' and @class='b-filename__name']/../../../..//*[@class='b-checkbox__box']]
</td></tr>
<tr><td>18:26:34,192 DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:26:35,514 DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:26:37,101  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779125761197927.png'>779125761197927.png</a>
</td></tr>
<tr><td>18:26:37,102 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]]
</td></tr>
<tr><td>18:26:37,452 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls__buttons>button.btn_main
</td></tr>
<tr><td>18:26:37,809 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls__buttons>button.btn_main
</td></tr>
<tr><td>18:26:39,264  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779128084638277.png'>779128084638277.png</a>
</td></tr>
<tr><td>18:26:39,265 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: .layer_remove .b-layer__controls__buttons>button.btn_main]
</td></tr>
<tr><td>18:26:39,511 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>18:26:40,074 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>18:26:40,614 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>18:26:42,330  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779130937590108.png'>779130937590108.png</a>
</td></tr>
<tr><td>18:26:42,331 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]]
</td></tr>
<tr><td>18:26:42,615 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:26:43,728 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>18:26:44,487  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779133989580217.png'>779133989580217.png</a>
</td></tr>
<tr><td>18:26:44,488 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]]
</td></tr>
<tr><td>18:26:44,649 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls button[data-name='empty']
</td></tr>
<tr><td>18:26:44,822 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls button[data-name='empty']
</td></tr>
<tr><td>18:26:45,468  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779135062702163.png'>779135062702163.png</a>
</td></tr>
<tr><td>18:26:45,469 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: .layer_remove .b-layer__controls button[data-name='empty']]
</td></tr>
<tr><td>18:26:45,644 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:45,836 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:46,120 DEBUG - No such WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:46,121 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:46,645 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:47,177 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:47,707 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:48,229 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:48,752 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:49,277 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:49,837 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:50,410 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:51,171 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:51,765  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779141546293384.png'>779141546293384.png</a>
</td></tr>
<tr><td>18:26:51,765 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:26:51,766 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:26:51,773 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:52,379 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:52,926  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779142045221368.png'>779142045221368.png</a>
</td></tr>
<tr><td>18:26:52,930 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bc660ff411db043a93ff52e9614b9115)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:26:53,267 DEBUG - LOGIN
</td></tr>
<tr><td>18:26:53,372 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:53,470 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:26:53,652 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:26:53,726 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:26:53,768 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:26:54,057 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:54,086 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:26:54,207 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:26:54,297 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:26:54,372 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:26:54,669 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:54,724 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:26:55,210 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:55,734 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:56,159  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779144994055591.png'>779144994055591.png</a>
</td></tr>
<tr><td>18:26:56,168 DEBUG - Befor click on [[ChromeDriver: chrome on XP (bc660ff411db043a93ff52e9614b9115)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:26:56,305 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:26:56,352 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:26:56,353 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:26:56,480  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFolderIsRemoved]
</td></tr>
<tr><td>18:26:56,482 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:26:57,918  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779146753621920.png'>779146753621920.png</a>
</td></tr>
<tr><td>18:26:57,919 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:26:59,306  INFO - [UPLOAD FILE]
</td></tr>
<tr><td>18:26:59,307 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='cloud_toolbars']//*[contains(@class, 'ico_toolbar_upload')]/..
</td></tr>
<tr><td>18:27:00,561 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir4964_16852}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: bc660ff411db043a93ff52e9614b9115
</td></tr>
<tr><td>18:27:00,562 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:00,733  INFO - [TEST COMPLETED SUCCESSFULLY loginWithCorrectLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>18:27:02,216  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779150591017679.png'>779150591017679.png</a>
</td></tr>
<tr><td>18:27:02,217 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> xpath: //*[@id='cloud_toolbars']//*[contains(@class, 'ico_toolbar_upload')]/..]
</td></tr>
<tr><td>18:27:02,497 DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_upload__controls input[type='file']
</td></tr>
<tr><td>18:27:03,160 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='js-upload-panel']//*[@class='b-filename__name' and contains(text(),'web_driver_drawing_cat')]
</td></tr>
<tr><td>18:27:03,319 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='js-upload-panel']//*[@class='b-filename__name' and contains(text(),'web_driver_drawing_cat')]
</td></tr>
<tr><td>18:27:03,381  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFileUploadsSuccessfuly]
</td></tr>
<tr><td>18:27:03,383 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:27:05,854  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779153614574297.png'>779153614574297.png</a>
</td></tr>
<tr><td>18:27:05,855 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:27:07,785  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779156217525168.png'>779156217525168.png</a>
</td></tr>
<tr><td>18:27:07,786 DEBUG - Stale element reference exception by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:27:07,786 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:27:09,229  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779158017142442.png'>779158017142442.png</a>
</td></tr>
<tr><td>18:27:09,231 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:27:09,619  INFO - [CREATE FOLDER]
</td></tr>
<tr><td>18:27:09,620 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:10,163 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:10,702 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:11,283 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:11,905 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:12,636  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779162347633991.png'>779162347633991.png</a>
</td></tr>
<tr><td>18:27:12,639 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:27:12,640 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:27:12,666 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:13,201 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:13,535  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779162891832411.png'>779162891832411.png</a>
</td></tr>
<tr><td>18:27:13,536 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1d0f7b8445828e2215ed85f828cc7055)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:27:14,189 DEBUG - LOGIN
</td></tr>
<tr><td>18:27:14,230 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:14,519 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:14,599 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:14,731 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:14,812 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:14,928 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:14,944 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:15,190 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:15,375 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:15,421 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:15,553 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:27:15,699 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:16,222 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:16,745 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:16,777  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779165805801473.png'>779165805801473.png</a>
</td></tr>
<tr><td>18:27:16,778 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1d0f7b8445828e2215ed85f828cc7055)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:27:16,897 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:27:16,898 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:17,273 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:17,516 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:17,793 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:18,174 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:18,319 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:18,719 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:18,840 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:19,258 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:19,305 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir21420_10295}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 1d0f7b8445828e2215ed85f828cc7055
</td></tr>
<tr><td>18:27:19,306 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:19,359 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:19,381  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:27:19,885 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon
</td></tr>
<tr><td>18:27:19,920 DEBUG - Expected condition failed: waiting for visibility of element located by By.cssSelector: .b-layer__container_disko-promo .b-panel__close__icon (tried for 10 second(s) with 500 MILLISECONDS interval)
</td></tr>
<tr><td>18:27:19,921 DEBUG - Befor finding WebElement by locator By.cssSelector: #toolbar-left .b-dropdown
</td></tr>
<tr><td>18:27:21,285  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779170157219627.png'>779170157219627.png</a>
</td></tr>
<tr><td>18:27:21,286 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #toolbar-left .b-dropdown]
</td></tr>
<tr><td>18:27:21,487 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-dropdown_expanded>div>a[data-name='folder']
</td></tr>
<tr><td>18:27:23,431  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779171719103645.png'>779171719103645.png</a>
</td></tr>
<tr><td>18:27:23,433 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: .b-dropdown_expanded>div>a[data-name='folder']]
</td></tr>
<tr><td>18:27:24,356 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:27:24,553 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>18:27:25,355 DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form button.btn_main
</td></tr>
<tr><td>18:27:27,417  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779175590226200.png'>779175590226200.png</a>
</td></tr>
<tr><td>18:27:27,418 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: form.layer__form button.btn_main]
</td></tr>
<tr><td>18:27:27,944 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:27:29,151 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:27:29,334 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>18:27:29,459 DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@data-id,'web_driver_drawing_cat.gif') and contains(@class, 'b-thumb')]
</td></tr>
<tr><td>18:27:29,579 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:27:29,840 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:27:29,902  INFO - [ACTION DRAG'N'DROP]
</td></tr>
<tr><td>18:27:31,590  INFO - ACTION CLICK MOVEBUTTON
</td></tr>
<tr><td>18:27:31,591 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-name='move']
</td></tr>
<tr><td>18:27:31,637 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-name='move']
</td></tr>
<tr><td>18:27:31,916  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779180702602065.png'>779180702602065.png</a>
</td></tr>
<tr><td>18:27:31,916 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:27:31,916 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:27:32,655 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-filename')]/div[contains(text(),'web_driver_drawing_cat')]/../../../..
</td></tr>
<tr><td>18:27:33,493  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779182167772532.png'>779182167772532.png</a>
</td></tr>
<tr><td>18:27:33,494 DEBUG - Befor click on [[ChromeDriver: chrome on XP (58b37936be42c96ee0f8d5e0ee38e49a)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:27:33,545 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-filename')]/div[contains(text(),'web_driver_drawing_cat')]/../../../..
</td></tr>
<tr><td>18:27:33,751 DEBUG - LOGIN
</td></tr>
<tr><td>18:27:33,832  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFileDragNDropSuccessfuly]
</td></tr>
<tr><td>18:27:33,834 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:27:34,179 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:34,275 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:34,386 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:34,438 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:27:34,558 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:34,742 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:34,981 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:35,119 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:27:35,144  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779184473791822.png'>779184473791822.png</a>
</td></tr>
<tr><td>18:27:35,145 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:27:35,595 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:27:35,601  INFO - [SHARE]
</td></tr>
<tr><td>18:27:35,614 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:27:36,782 DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>18:27:37,225  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779185884317845.png'>779185884317845.png</a>
</td></tr>
<tr><td>18:27:37,226 DEBUG - Befor click on [[ChromeDriver: chrome on XP (58b37936be42c96ee0f8d5e0ee38e49a)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:27:37,371 DEBUG - Befor finding WebElement by locator By.cssSelector: a[data-name='publish']
</td></tr>
<tr><td>18:27:37,565 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:27:37,565 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:37,730 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>18:27:38,154 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:38,251 DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>18:27:38,287 DEBUG - Befor finding WebElement by locator By.cssSelector: input[data-name='url']
</td></tr>
<tr><td>18:27:38,355 DEBUG - Befor finding WebElement by locator By.cssSelector: input[data-name='url']
</td></tr>
<tr><td>18:27:38,747 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:39,139 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container.b-layer__container_publish button[data-name='close']
</td></tr>
<tr><td>18:27:39,501 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:39,751 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir14404_18698}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 58b37936be42c96ee0f8d5e0ee38e49a
</td></tr>
<tr><td>18:27:39,753 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:27:39,907  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>18:27:52,863 DEBUG - Befor finding WebElement by locator By.cssSelector: iframe[id]
</td></tr>
<tr><td>18:27:53,295 DEBUG - Befor finding WebElement by locator By.cssSelector: #tinymce
</td></tr>
<tr><td>18:27:53,371 DEBUG - Befor finding WebElement by locator By.cssSelector: #tinymce
</td></tr>
<tr><td>18:27:53,600  INFO - [END SHARE]
</td></tr>
<tr><td>18:27:53,602  INFO - [TEST COMPLETED SUCCESSFULLY checkThatLinkToItemIsShared]
</td></tr>
<tr><td>18:27:53,606 DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>18:27:58,848  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779204588369319.png'>779204588369319.png</a>
</td></tr>
<tr><td>18:27:58,849 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1bedd548caac70f4aa402df41bd158d9)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>18:28:00,891  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779210032878571.png'>779210032878571.png</a>
</td></tr>
<tr><td>18:28:00,891 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:28:00,891 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:28:01,839  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779211137345197.png'>779211137345197.png</a>
</td></tr>
<tr><td>18:28:01,840 DEBUG - Befor click on [[ChromeDriver: chrome on XP (8314e3829d8e89f5295e416bbcab0cea)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:28:01,994 DEBUG - LOGIN
</td></tr>
<tr><td>18:28:02,256 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:02,430 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:02,523 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:02,615 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:03,287 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:03,410 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:03,498 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:03,594 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:03,695 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:28:04,888  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779213934970762.png'>779213934970762.png</a>
</td></tr>
<tr><td>18:28:04,889 DEBUG - Befor click on [[ChromeDriver: chrome on XP (8314e3829d8e89f5295e416bbcab0cea)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:28:04,990 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:28:04,990 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:05,669 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:06,211 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:06,750 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:07,299 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:07,355 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir22216_6593}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 8314e3829d8e89f5295e416bbcab0cea
</td></tr>
<tr><td>18:28:07,356 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:07,436  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:28:20,847  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779230575232483.png'>779230575232483.png</a>
</td></tr>
<tr><td>18:28:20,848 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:28:20,848 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:28:21,925  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779231118866841.png'>779231118866841.png</a>
</td></tr>
<tr><td>18:28:21,926 DEBUG - Befor click on [[ChromeDriver: chrome on XP (0c59da902d15195d31df2b502695e851)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:28:22,320 DEBUG - LOGIN
</td></tr>
<tr><td>18:28:22,553 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:22,697 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:22,793 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:22,842 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:23,345 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:23,435 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:23,592 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:23,644 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:24,092 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:28:25,391  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779234354969780.png'>779234354969780.png</a>
</td></tr>
<tr><td>18:28:25,393 DEBUG - Befor click on [[ChromeDriver: chrome on XP (0c59da902d15195d31df2b502695e851)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:28:25,646 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:28:25,647 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:28,839 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir5536_1740}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 0c59da902d15195d31df2b502695e851
</td></tr>
<tr><td>18:28:28,847 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:29,148  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:28:36,780  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779246460655412.png'>779246460655412.png</a>
</td></tr>
<tr><td>18:28:36,781 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:28:36,781 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:28:37,480  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779247028926298.png'>779247028926298.png</a>
</td></tr>
<tr><td>18:28:37,481 DEBUG - Befor click on [[ChromeDriver: chrome on XP (07d3f02bc211b44c65a7626a110ef324)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:28:37,945 DEBUG - LOGIN
</td></tr>
<tr><td>18:28:38,316 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:38,467 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:38,548 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:38,600 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:38,832 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:38,909 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:39,006 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:39,087 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:39,330 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:28:40,549  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779249596588322.png'>779249596588322.png</a>
</td></tr>
<tr><td>18:28:40,549 DEBUG - Befor click on [[ChromeDriver: chrome on XP (07d3f02bc211b44c65a7626a110ef324)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:28:40,696 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:28:40,696 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:43,542 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir4964_22581}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 07d3f02bc211b44c65a7626a110ef324
</td></tr>
<tr><td>18:28:43,543 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:43,686  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:28:50,768  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779260552776681.png'>779260552776681.png</a>
</td></tr>
<tr><td>18:28:50,768 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:28:50,769 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:28:51,795  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779261023155119.png'>779261023155119.png</a>
</td></tr>
<tr><td>18:28:51,798 DEBUG - Befor click on [[ChromeDriver: chrome on XP (ab318625a8a5c20487cc70b888e17d5c)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:28:52,176 DEBUG - LOGIN
</td></tr>
<tr><td>18:28:52,402 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:52,546 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:52,616 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:52,656 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:28:52,908 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:52,976 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:53,094 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:53,146 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:28:53,450 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:28:54,712  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779263718271632.png'>779263718271632.png</a>
</td></tr>
<tr><td>18:28:54,713 DEBUG - Befor click on [[ChromeDriver: chrome on XP (ab318625a8a5c20487cc70b888e17d5c)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:28:54,843 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:28:54,843 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:57,130 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir20700_16471}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: ab318625a8a5c20487cc70b888e17d5c
</td></tr>
<tr><td>18:28:57,131 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:28:57,289  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:29:05,326  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779275085997230.png'>779275085997230.png</a>
</td></tr>
<tr><td>18:29:05,327 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:29:05,327 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:29:06,295  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779275579714683.png'>779275579714683.png</a>
</td></tr>
<tr><td>18:29:06,297 DEBUG - Befor click on [[ChromeDriver: chrome on XP (47bee4fe1bff977f2af37439d54c87ab)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:29:06,674 DEBUG - LOGIN
</td></tr>
<tr><td>18:29:07,010 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:07,189 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:07,283 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:07,323 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:07,583 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:07,652 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:07,733 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:07,795 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:08,085 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:29:09,271  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779278331380308.png'>779278331380308.png</a>
</td></tr>
<tr><td>18:29:09,272 DEBUG - Befor click on [[ChromeDriver: chrome on XP (47bee4fe1bff977f2af37439d54c87ab)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:29:09,402 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:29:09,404 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:11,475 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:12,207 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir20488_4624}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 47bee4fe1bff977f2af37439d54c87ab
</td></tr>
<tr><td>18:29:12,208 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:12,333  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:29:19,795  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779289493493876.png'>779289493493876.png</a>
</td></tr>
<tr><td>18:29:19,797 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:29:19,797 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:29:20,722  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779290045363450.png'>779290045363450.png</a>
</td></tr>
<tr><td>18:29:20,722 DEBUG - Befor click on [[ChromeDriver: chrome on XP (c6d09fd05007ad25836cc6d781c02139)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:29:21,152 DEBUG - LOGIN
</td></tr>
<tr><td>18:29:21,420 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:21,549 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:21,633 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:21,688 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:21,975 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:22,057 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:22,152 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:22,236 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:22,584 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:29:23,798  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779292843229658.png'>779292843229658.png</a>
</td></tr>
<tr><td>18:29:23,799 DEBUG - Befor click on [[ChromeDriver: chrome on XP (c6d09fd05007ad25836cc6d781c02139)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:29:23,949 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:29:23,949 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:26,225 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir21852_24843}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: c6d09fd05007ad25836cc6d781c02139
</td></tr>
<tr><td>18:29:26,226 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:26,350  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:29:34,582  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779303831645059.png'>779303831645059.png</a>
</td></tr>
<tr><td>18:29:34,583 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:29:34,594 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:29:35,839  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779305090274201.png'>779305090274201.png</a>
</td></tr>
<tr><td>18:29:35,840 DEBUG - Befor click on [[ChromeDriver: chrome on XP (e799eec6a780ddc3454adc230a91aaa3)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:29:36,000 DEBUG - LOGIN
</td></tr>
<tr><td>18:29:36,255 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:36,476 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:36,571 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:36,618 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:36,945 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:37,067 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:37,147 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:37,233 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:37,429 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:29:38,605  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779307668537770.png'>779307668537770.png</a>
</td></tr>
<tr><td>18:29:38,606 DEBUG - Befor click on [[ChromeDriver: chrome on XP (e799eec6a780ddc3454adc230a91aaa3)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:29:38,775 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:29:38,775 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:41,629 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir22428_14711}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: e799eec6a780ddc3454adc230a91aaa3
</td></tr>
<tr><td>18:29:41,630 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:41,782  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:29:48,970  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779318735077003.png'>779318735077003.png</a>
</td></tr>
<tr><td>18:29:48,971 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:29:48,972 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:29:49,762  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779319219792508.png'>779319219792508.png</a>
</td></tr>
<tr><td>18:29:49,763 DEBUG - Befor click on [[ChromeDriver: chrome on XP (224cc03e9a4e76fa511a01fadf012d39)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:29:50,421 DEBUG - LOGIN
</td></tr>
<tr><td>18:29:50,673 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:50,822 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:50,897 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:50,948 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:29:51,223 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:51,290 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:51,373 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:51,440 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:29:51,714 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:29:52,905  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779321969410956.png'>779321969410956.png</a>
</td></tr>
<tr><td>18:29:52,906 DEBUG - Befor click on [[ChromeDriver: chrome on XP (224cc03e9a4e76fa511a01fadf012d39)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:29:53,048 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:29:53,049 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:56,083 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir18352_11373}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 224cc03e9a4e76fa511a01fadf012d39
</td></tr>
<tr><td>18:29:56,090 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:29:56,326  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:30:04,447  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779334039328587.png'>779334039328587.png</a>
</td></tr>
<tr><td>18:30:04,447 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:30:04,448 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:30:05,272  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779334697842101.png'>779334697842101.png</a>
</td></tr>
<tr><td>18:30:05,272 DEBUG - Befor click on [[ChromeDriver: chrome on XP (82d1ca6debd2dd515fe6c13375189d43)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:30:05,814 DEBUG - LOGIN
</td></tr>
<tr><td>18:30:06,151 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:06,249 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:06,322 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:06,365 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:06,604 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:06,673 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:06,751 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:06,843 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:07,161 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:30:08,412  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779337453355890.png'>779337453355890.png</a>
</td></tr>
<tr><td>18:30:08,413 DEBUG - Befor click on [[ChromeDriver: chrome on XP (82d1ca6debd2dd515fe6c13375189d43)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:30:08,600 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:30:08,601 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:30:11,524 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir20524_26149}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: 82d1ca6debd2dd515fe6c13375189d43
</td></tr>
<tr><td>18:30:11,525 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:30:11,693  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>18:30:20,576  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779350301205138.png'>779350301205138.png</a>
</td></tr>
<tr><td>18:30:20,577 DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>18:30:20,577 DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>18:30:21,467  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779350825579902.png'>779350825579902.png</a>
</td></tr>
<tr><td>18:30:21,468 DEBUG - Befor click on [[ChromeDriver: chrome on XP (c6545454cac70189ff59692e99847a69)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>18:30:22,009 DEBUG - LOGIN
</td></tr>
<tr><td>18:30:22,359 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:22,437 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:22,513 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:22,557 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>18:30:22,810 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:22,915 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:23,002 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:23,117 DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>18:30:23,401 DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>18:30:24,626  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\779353670223982.png'>779353670223982.png</a>
</td></tr>
<tr><td>18:30:24,627 DEBUG - Befor click on [[ChromeDriver: chrome on XP (c6545454cac70189ff59692e99847a69)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>18:30:24,769 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>18:30:24,769 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:30:27,906 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir15944_25262}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.139, webStorageEnabled: true}
Session ID: c6545454cac70189ff59692e99847a69
</td></tr>
<tr><td>18:30:27,907 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>18:30:28,124  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginOnCloudFromLoginPage]
</td></tr>
</table>