<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:35:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:35:08</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:35:31</td>   <td>22259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:36:04</td>   <td>55287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkMailSendWithoutTopicAndBody</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:36:04</td>   <td>55516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:36:06</td>   <td>57376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:36:46</td>   <td>97888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:37:00</td>   <td>111856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:37:39</td>   <td>150519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:37:42</td>   <td>153964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:38:04</td>   <td>175533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatDraftCreatedAndDeleted</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:38:07</td>   <td>178873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:38:30</td>   <td>202108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:38:34</td>   <td>205865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:39:09</td>   <td>241006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:40:37</td>   <td>328165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:40:55</td>   <td>346944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:41:09</td>   <td>360668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:41:28</td>   <td>379639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:41:58</td>   <td>409193</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:14</td>   <td>426028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:17</td>   <td>428175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:34</td>   <td>446044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:47</td>   <td>458465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:48</td>   <td>460071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:05</td>   <td>476556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:23</td>   <td>494572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:25</td>   <td>496318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:43</td>   <td>514911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:00</td>   <td>531752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:02</td>   <td>533415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:14</td>   <td>545416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:28</td>   <td>559510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:37</td>   <td>568249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:53</td>   <td>585006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:12</td>   <td>603154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:13</td>   <td>604859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:27</td>   <td>618371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:41</td>   <td>633073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:43</td>   <td>635085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:56</td>   <td>647735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@1952a2d]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:46:07</td>   <td>658256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
</table>
