<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@1952a2d]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:36:04</td>   <td>-592448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkMailSendWithoutTopicAndBody</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:37:00</td>   <td>-535879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:38:04</td>   <td>-472202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatDraftCreatedAndDeleted</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:41:09</td>   <td>-287067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:41:58</td>   <td>-238542</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:36:04</td>   <td>-592219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:37:39</td>   <td>-497216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:38:30</td>   <td>-445627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:40:37</td>   <td>-319570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:14</td>   <td>-221707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:47</td>   <td>-189270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:23</td>   <td>-153163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:00</td>   <td>-115983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:28</td>   <td>-88225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:12</td>   <td>-44581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:41</td>   <td>-14662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:46:07</td>   <td>10521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:35:31</td>   <td>-625476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:36:46</td>   <td>-549847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:38:07</td>   <td>-468862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:39:09</td>   <td>-406729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:41:28</td>   <td>-268096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:34</td>   <td>-201691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:05</td>   <td>-171179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:43</td>   <td>-132824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:14</td>   <td>-102319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:53</td>   <td>-62729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:27</td>   <td>-29364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/05/27 21:35:08</td>   <td>-647735</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@159c4b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@28611570</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:35:08</td>   <td>-647733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:36:06</td>   <td>-590359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:37:42</td>   <td>-493771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:38:34</td>   <td>-441870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:40:55</td>   <td>-300791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:17</td>   <td>-219560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:42:48</td>   <td>-187664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:43:25</td>   <td>-151417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:02</td>   <td>-114320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:44:37</td>   <td>-79486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:13</td>   <td>-42876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>18/05/27 21:45:43</td>   <td>-12650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@1952a2d]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@17131617</td>   <td></td> </tr>
</table>
