<h2>Reporter output</h2><table><tr><td>21:35:07,054  INFO - parse Cli
</td></tr>
<tr><td>21:35:07,079  INFO - Parse cli using JCommander
</td></tr>
<tr><td>21:35:08,828  INFO - [START SUITE] ParallelMode:classes threadCount:2 MailRu Suite
</td></tr>
<tr><td>21:35:08,829  INFO - [TESTCLASS STARTED] MailRuTest
</td></tr>
<tr><td>21:35:30,673  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33413729837331.png'>33413729837331.png</a>
</td></tr>
<tr><td>21:35:30,674 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:35:30,674 DEBUG - LOGIN
</td></tr>
<tr><td>21:35:07,054  INFO - parse Cli
</td></tr>
<tr><td>21:35:07,079  INFO - Parse cli using JCommander
</td></tr>
<tr><td>21:35:08,828  INFO - [START SUITE] ParallelMode:classes threadCount:2 MailRu Suite
</td></tr>
<tr><td>21:35:08,829  INFO - [TESTCLASS STARTED] MailRuTest
</td></tr>
<tr><td>21:35:30,707  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33413934030656.png'>33413934030656.png</a>
</td></tr>
<tr><td>21:35:30,707 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:35:30,750 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:31,142  INFO - [TEST STARTED] loginAsSpecificCustomerFromLoginPage
</td></tr>
<tr><td>21:35:31,153 DEBUG - LOGIN
</td></tr>
<tr><td>21:35:31,238 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:31,437 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:31,693 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:32,338 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:32,996 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:33,610 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:33,747 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:35:36,722 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>21:35:36,722 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:37,012 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:37,282 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>21:35:37,282 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:37,547 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:37,615 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:37,942 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:38,028 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:38,629 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:35:39,211 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>21:35:39,211 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:35:39,521 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>21:35:39,521 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:35:40,246  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33423460165335.png'>33423460165335.png</a>
</td></tr>
<tr><td>21:35:40,247 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:35:41,503  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33424007468452.png'>33424007468452.png</a>
</td></tr>
<tr><td>21:35:41,503 DEBUG - Befor click on [[ChromeDriver: chrome on XP (05eeb65af3e16c9e53cdf29990a372b2)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:36:03,205 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:36:03,205 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:36:03,288 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:36:03,288 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:36:03,462 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:36:03,480 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:36:03,568 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:36:03,615 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:36:04,170  INFO - [TEST STARTED] checkMailSendWithoutTopicAndBody
</td></tr>
<tr><td>21:36:04,359 DEBUG - SEND LETTER
</td></tr>
<tr><td>21:36:04,359 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>21:36:04,359 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>21:36:04,396  INFO - [TEST COMPLETED SUCCESSFULLY loginAsSpecificCustomerFromLoginPage]
</td></tr>
<tr><td>21:36:05,162  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33448536023210.png'>33448536023210.png</a>
</td></tr>
<tr><td>21:36:05,172 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>21:36:07,885 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:36:08,342 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:36:10,172 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:36:11,324 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:36:11,554 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>21:36:11,931 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:36:11,987 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:36:12,203 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>21:36:12,934  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33456391642790.png'>33456391642790.png</a>
</td></tr>
<tr><td>21:36:12,934 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>21:36:13,192 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>21:36:13,981 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>21:36:14,229 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>21:36:15,444  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33458397917417.png'>33458397917417.png</a>
</td></tr>
<tr><td>21:36:15,445 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> css selector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok]
</td></tr>
<tr><td>21:36:15,941 DEBUG - [CHECK THAT LETTER IS FOUND IN INCOMING AND OUTGOING MAIL]
</td></tr>
<tr><td>21:36:15,942 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>21:36:16,066 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>21:36:27,678  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33463081360654.png'>33463081360654.png</a>
</td></tr>
<tr><td>21:36:27,682 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>21:36:29,802  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33471863490383.png'>33471863490383.png</a>
</td></tr>
<tr><td>21:36:29,803 DEBUG - Stale element reference exception by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>21:36:29,803 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>21:36:31,724  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33473976030890.png'>33473976030890.png</a>
</td></tr>
<tr><td>21:36:31,726 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>21:36:32,877 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>21:36:35,504  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33477647260664.png'>33477647260664.png</a>
</td></tr>
<tr><td>21:36:35,504 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>21:36:38,335 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:36:43,089 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:36:43,702 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>21:36:44,310 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>21:36:45,152 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>21:36:45,675  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33488425063520.png'>33488425063520.png</a>
</td></tr>
<tr><td>21:36:45,675 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:36:46,771  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:36:46,838 DEBUG - LOGIN
</td></tr>
<tr><td>21:36:47,010 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:36:48,040  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33489414476954.png'>33489414476954.png</a>
</td></tr>
<tr><td>21:36:48,040 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div/a[@href='/messages/sent/']]
</td></tr>
<tr><td>21:36:48,622 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:36:50,143 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>21:36:51,665 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:36:53,369 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>21:36:53,835 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:36:55,155  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33497693703399.png'>33497693703399.png</a>
</td></tr>
<tr><td>21:36:55,156 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a]
</td></tr>
<tr><td>21:36:56,162 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:36:59,710 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:37:00,088 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>21:37:00,739  INFO - [TEST COMPLETED SUCCESSFULLY checkMailSendWithoutTopicAndBody]
</td></tr>
<tr><td>21:37:00,739  INFO - [TEST STARTED] checkSendingAndReceivingLetterWithCorrectDataFilled
</td></tr>
<tr><td>21:37:00,739 DEBUG - SEND LETTER
</td></tr>
<tr><td>21:37:00,740 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>21:37:00,740 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>21:37:04,366  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33504965823208.png'>33504965823208.png</a>
</td></tr>
<tr><td>21:37:04,366 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>21:37:04,977 DEBUG - type login - hH8DGiwzyb
</td></tr>
<tr><td>21:37:04,977 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:37:08,897 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:37:11,846 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:37:12,452 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:37:14,404 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:37:14,854 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:37:22,310 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:37:22,639 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:37:23,995 DEBUG - type password - CaK4MKDlP
</td></tr>
<tr><td>21:37:23,995 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:37:24,414 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>21:37:24,605 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:37:25,473 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:37:27,260  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33528658526917.png'>33528658526917.png</a>
</td></tr>
<tr><td>21:37:27,263 DEBUG - Befor click on [[ChromeDriver: chrome on XP (1290b6cdf0b6d2377c2351030384575a)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:37:28,110 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>21:37:29,142 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:37:29,143 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:37:30,492  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33532298018325.png'>33532298018325.png</a>
</td></tr>
<tr><td>21:37:30,494 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>21:37:31,178 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir10088_5309}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 1290b6cdf0b6d2377c2351030384575a
</td></tr>
<tr><td>21:37:31,178 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:37:34,189 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:37:36,323 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:37:39,401  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:37:40,016 DEBUG - [CHECK THAT LETTER IS FOUND IN INCOMING AND OUTGOING MAIL]
</td></tr>
<tr><td>21:37:40,017 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>21:37:41,389 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>21:37:43,540  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33545611434788.png'>33545611434788.png</a>
</td></tr>
<tr><td>21:37:43,542 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>21:37:45,389 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>21:37:48,970  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33550999434660.png'>33550999434660.png</a>
</td></tr>
<tr><td>21:37:48,971 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>21:37:49,217 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:37:49,769 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:37:50,803 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:37:50,929 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>21:37:51,052 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>21:37:51,542 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>21:37:53,884  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33555731885780.png'>33555731885780.png</a>
</td></tr>
<tr><td>21:37:53,885 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div/a[@href='/messages/sent/']]
</td></tr>
<tr><td>21:37:55,820 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>21:37:56,633 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>21:37:57,668  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33560800715954.png'>33560800715954.png</a>
</td></tr>
<tr><td>21:37:57,668 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a]
</td></tr>
<tr><td>21:37:58,333 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:38:03,783 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>21:38:04,125 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>21:38:04,415  INFO - [TEST COMPLETED SUCCESSFULLY checkSendingAndReceivingLetterWithCorrectDataFilled]
</td></tr>
<tr><td>21:38:04,416  INFO - [TEST STARTED] checkThatDraftCreatedAndDeleted
</td></tr>
<tr><td>21:38:04,416 DEBUG - CREATE DRAFT
</td></tr>
<tr><td>21:38:04,416 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>21:38:04,417 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>21:38:07,335  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33570404818398.png'>33570404818398.png</a>
</td></tr>
<tr><td>21:38:07,335 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:38:07,752  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33568792499546.png'>33568792499546.png</a>
</td></tr>
<tr><td>21:38:07,752 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>21:38:07,756  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:38:07,756 DEBUG - LOGIN
</td></tr>
<tr><td>21:38:07,898 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:38:09,287 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:38:11,602 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:38:13,325 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:38:16,817 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:38:17,850 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:38:18,532 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:38:18,589 DEBUG - type login - Vzm91zofMx
</td></tr>
<tr><td>21:38:18,589 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:38:18,692 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:38:19,057 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:38:19,068 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>21:38:19,682 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:38:19,934 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:38:20,000 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:38:20,677 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:38:23,858 DEBUG - type password - lEQrOIr
</td></tr>
<tr><td>21:38:23,858 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:38:25,400  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33588294496154.png'>33588294496154.png</a>
</td></tr>
<tr><td>21:38:25,403 DEBUG - Befor click on [[ChromeDriver: chrome on XP (b7b2de7578cc869e7ff5f073c8c00f18)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:38:25,537 DEBUG - [SAVE DRAFT]
</td></tr>
<tr><td>21:38:27,388 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:38:27,388 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:38:27,935 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>21:38:28,501 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>21:38:29,289 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:38:29,571 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir4988_5626}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: b7b2de7578cc869e7ff5f073c8c00f18
</td></tr>
<tr><td>21:38:29,571 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:38:30,081 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:38:30,255  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33592754343192.png'>33592754343192.png</a>
</td></tr>
<tr><td>21:38:30,256 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>21:38:30,514 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:38:30,991  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:38:34,877 DEBUG - [SAVE DRAFT]
</td></tr>
<tr><td>21:38:39,729 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>21:38:40,331 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>21:38:42,543  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33605060818568.png'>33605060818568.png</a>
</td></tr>
<tr><td>21:38:42,544 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]
</td></tr>
<tr><td>21:38:47,124 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>21:38:51,046 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:38:51,255 DEBUG - DELETE DRAFT
</td></tr>
<tr><td>21:38:51,255 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>21:38:51,461 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>21:38:52,283  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33615624237911.png'>33615624237911.png</a>
</td></tr>
<tr><td>21:38:52,287 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>21:38:55,020 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>21:39:06,239 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>21:39:08,187  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33629023698172.png'>33629023698172.png</a>
</td></tr>
<tr><td>21:39:08,188 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:39:09,540  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33630656224599.png'>33630656224599.png</a>
</td></tr>
<tr><td>21:39:09,543 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]
</td></tr>
<tr><td>21:39:09,889  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:39:09,889 DEBUG - LOGIN
</td></tr>
<tr><td>21:39:10,033 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:39:13,286 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>21:39:15,201 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:39:19,312 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:39:21,955 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:39:22,156 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:39:35,535 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>21:39:38,388 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>21:39:39,573 DEBUG - Befor finding WebElement by locator By.xpath: a/div[contains(@class,'js-item-checkbox')]
</td></tr>
<tr><td>21:39:40,399 DEBUG - type login - ulMZHhY5xu
</td></tr>
<tr><td>21:39:40,399 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:39:42,307 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:39:43,549  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33664666809885.png'>33664666809885.png</a>
</td></tr>
<tr><td>21:39:43,554 DEBUG - Befor click on [[[[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]] -> xpath: a/div[contains(@class,'js-item-checkbox')]]
</td></tr>
<tr><td>21:39:45,058 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:39:47,138 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__right']//*[@class='b-toolbar__group']//*[@class='b-toolbar__item']//div[contains(@class, 'b-toolbar__btn_grouped_last')]/i[contains(@class, 'ico_toolbar_remove')]/../..
</td></tr>
<tr><td>21:39:48,343 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:39:53,218  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33672543137526.png'>33672543137526.png</a>
</td></tr>
<tr><td>21:39:53,229 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-toolbar__right']//*[@class='b-toolbar__group']//*[@class='b-toolbar__item']//div[contains(@class, 'b-toolbar__btn_grouped_last')]/i[contains(@class, 'ico_toolbar_remove')]/../..]
</td></tr>
<tr><td>21:39:59,776 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>21:40:06,517 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>21:40:11,001 DEBUG - type password - d1KgWCSSt
</td></tr>
<tr><td>21:40:11,002 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:40:12,135  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33692307475066.png'>33692307475066.png</a>
</td></tr>
<tr><td>21:40:12,135 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']]
</td></tr>
<tr><td>21:40:16,793 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>21:40:17,543  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33696632770056.png'>33696632770056.png</a>
</td></tr>
<tr><td>21:40:17,544 DEBUG - Befor click on [[ChromeDriver: chrome on XP (2599daf84d100a5eafddfd225d256d09)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:40:19,642 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>21:40:22,536 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:40:22,536 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:40:23,324 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>21:40:25,825 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir1680_31141}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 2599daf84d100a5eafddfd225d256d09
</td></tr>
<tr><td>21:40:25,826 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:40:30,393  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33708870606833.png'>33708870606833.png</a>
</td></tr>
<tr><td>21:40:30,393 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]]
</td></tr>
<tr><td>21:40:30,408 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:40:33,361 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:40:36,425 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>21:40:36,998  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:40:39,229 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>21:40:39,610 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>21:40:39,938 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>21:40:41,831  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33724245894889.png'>33724245894889.png</a>
</td></tr>
<tr><td>21:40:41,832 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']]
</td></tr>
<tr><td>21:40:43,216 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']//*[@class='b-datalist__body']//a/div[contains(@class, 'b-datalist__item__cbx')]
</td></tr>
<tr><td>21:40:53,813  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33736437256077.png'>33736437256077.png</a>
</td></tr>
<tr><td>21:40:53,815 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-letters']//*[@class='b-datalist__body']//a/div[contains(@class, 'b-datalist__item__cbx')]]
</td></tr>
<tr><td>21:40:54,358 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__right']//i[contains(@class,'ico_toolbar_remove')]/..
</td></tr>
<tr><td>21:40:58,380  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33740490901022.png'>33740490901022.png</a>
</td></tr>
<tr><td>21:40:58,381 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-toolbar__right']//i[contains(@class,'ico_toolbar_remove')]/..]
</td></tr>
<tr><td>21:40:59,485 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>21:41:01,348 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>21:41:03,016 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>21:41:04,268  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33747343227981.png'>33747343227981.png</a>
</td></tr>
<tr><td>21:41:04,269 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]]
</td></tr>
<tr><td>21:41:05,334 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>21:41:07,181 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>21:41:09,550  INFO - [TEST COMPLETED SUCCESSFULLY checkThatDraftCreatedAndDeleted]
</td></tr>
<tr><td>21:41:09,551  INFO - [TEST STARTED] checkThatMailDoesNotsendWithoutAddress
</td></tr>
<tr><td>21:41:09,551 DEBUG - SEND LETTER
</td></tr>
<tr><td>21:41:09,551 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>21:41:09,551 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>21:41:12,315  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33754268382169.png'>33754268382169.png</a>
</td></tr>
<tr><td>21:41:12,316 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>21:41:16,747 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:41:22,798 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>21:41:26,848 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:41:27,707 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>21:41:28,271  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33771546215532.png'>33771546215532.png</a>
</td></tr>
<tr><td>21:41:28,272 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:41:28,522  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:41:28,522 DEBUG - LOGIN
</td></tr>
<tr><td>21:41:28,545 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:41:29,091 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:41:29,307 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>21:41:31,337 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:41:31,573 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:41:31,897 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:41:31,898 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>21:41:45,265 DEBUG - type login - vDtuKZR
</td></tr>
<tr><td>21:41:45,265 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:41:47,133 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:41:49,374 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>21:41:49,424 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:41:51,488 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:41:53,656  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33794515848062.png'>33794515848062.png</a>
</td></tr>
<tr><td>21:41:53,657 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d0f6ec5a084e6b5689fd44bde5d36cbe)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>21:41:58,075  INFO - [TEST COMPLETED SUCCESSFULLY checkThatMailDoesNotsendWithoutAddress]
</td></tr>
<tr><td>21:42:05,162 DEBUG - type password - Y03rQTxbpi
</td></tr>
<tr><td>21:42:05,162 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:42:09,166  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33809801755752.png'>33809801755752.png</a>
</td></tr>
<tr><td>21:42:09,167 DEBUG - Befor click on [[ChromeDriver: chrome on XP (13739820b7efc00ceff8de46e7e9fb21)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:42:10,661 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:42:10,661 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:42:12,088 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:42:12,862 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir3728_31850}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 13739820b7efc00ceff8de46e7e9fb21
</td></tr>
<tr><td>21:42:12,862 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:42:13,666 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:42:14,244 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:42:14,910  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:42:34,315  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33836798167873.png'>33836798167873.png</a>
</td></tr>
<tr><td>21:42:34,316 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:42:34,927  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:42:34,927 DEBUG - LOGIN
</td></tr>
<tr><td>21:42:34,999 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:42:35,593 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:42:35,926 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:42:36,861 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:42:39,372 DEBUG - type login - gpAltU1s
</td></tr>
<tr><td>21:42:39,372 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:42:39,605 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:42:39,855 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:42:40,443 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:42:41,358 DEBUG - type password - loU7W68
</td></tr>
<tr><td>21:42:41,358 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:42:43,241  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33845611643857.png'>33845611643857.png</a>
</td></tr>
<tr><td>21:42:43,241 DEBUG - Befor click on [[ChromeDriver: chrome on XP (d2938a8470f4f7e6a8d0e84c42712db2)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:42:44,072 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:42:44,072 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:42:45,398 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:42:46,141 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:42:46,446 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir7776_20118}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: d2938a8470f4f7e6a8d0e84c42712db2
</td></tr>
<tr><td>21:42:46,446 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:42:46,974 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:42:47,178 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:42:47,347  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:43:05,034  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33867839570768.png'>33867839570768.png</a>
</td></tr>
<tr><td>21:43:05,035 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:43:05,439  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:43:05,439 DEBUG - LOGIN
</td></tr>
<tr><td>21:43:05,454 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:06,893 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:07,542 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:08,308 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:11,194 DEBUG - type login - cXnqg3j
</td></tr>
<tr><td>21:43:11,194 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:11,581 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:12,038 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:12,488 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:15,171 DEBUG - type password - kODpK5G
</td></tr>
<tr><td>21:43:15,171 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:43:17,230  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33879579249271.png'>33879579249271.png</a>
</td></tr>
<tr><td>21:43:17,230 DEBUG - Befor click on [[ChromeDriver: chrome on XP (2af2a0ae9853323d600c1f647c4e6107)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:43:18,049 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:43:18,049 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:43:19,754 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:43:20,493 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir15620_17107}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 2af2a0ae9853323d600c1f647c4e6107
</td></tr>
<tr><td>21:43:20,493 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:43:21,807 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:43:22,764 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:43:23,454  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:43:43,443  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33906239432953.png'>33906239432953.png</a>
</td></tr>
<tr><td>21:43:43,443 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:43:43,794  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:43:43,794 DEBUG - LOGIN
</td></tr>
<tr><td>21:43:43,840 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:44,743 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:45,899 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:47,872 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:43:50,803 DEBUG - type login - k52xQ9ueIo
</td></tr>
<tr><td>21:43:50,804 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:51,521 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:52,152 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:52,851 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:43:54,044 DEBUG - type password - cU33lN
</td></tr>
<tr><td>21:43:54,044 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:43:55,554  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33918318452036.png'>33918318452036.png</a>
</td></tr>
<tr><td>21:43:55,554 DEBUG - Befor click on [[ChromeDriver: chrome on XP (153c5483a7a008a558d9a50c994e9820)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:43:56,600 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:43:56,600 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:43:58,143 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:43:58,835 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:43:59,007 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir12872_15557}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 153c5483a7a008a558d9a50c994e9820
</td></tr>
<tr><td>21:43:59,007 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:43:59,691 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:44:00,222 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:44:00,634  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:44:13,997  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33937341339534.png'>33937341339534.png</a>
</td></tr>
<tr><td>21:44:13,997 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:44:14,299  INFO - [TEST STARTED] loginWithIncorrectLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:44:14,300 DEBUG - LOGIN
</td></tr>
<tr><td>21:44:14,313 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:15,563 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:16,252 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:17,565 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:19,176 DEBUG - type login - SgZ5t4
</td></tr>
<tr><td>21:44:19,176 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:44:19,533 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:44:20,086 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:44:20,556 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:44:21,718 DEBUG - type password - 5ru7PA
</td></tr>
<tr><td>21:44:21,719 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:44:23,854  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33946321642684.png'>33946321642684.png</a>
</td></tr>
<tr><td>21:44:23,856 DEBUG - Befor click on [[ChromeDriver: chrome on XP (acfe225b6a5c6ccf1325d918da8c26c2)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:44:24,640 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:44:24,640 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:44:25,905 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:44:26,646 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:44:26,870 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir9852_3901}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: acfe225b6a5c6ccf1325d918da8c26c2
</td></tr>
<tr><td>21:44:26,870 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:44:27,560 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:44:28,075 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:44:28,393  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>21:44:53,531  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33976073030752.png'>33976073030752.png</a>
</td></tr>
<tr><td>21:44:53,531 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:44:53,889  INFO - [TEST STARTED] loginWithIncorrectLoginFromLoginPage
</td></tr>
<tr><td>21:44:53,891 DEBUG - LOGIN
</td></tr>
<tr><td>21:44:53,906 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:54,804 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:55,797 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:56,842 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:44:59,620 DEBUG - type login - NBbORwZS4
</td></tr>
<tr><td>21:44:59,621 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:44:59,867 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:00,584 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:01,598 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:05,487 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>21:45:05,487 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:45:07,000  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\33989714001429.png'>33989714001429.png</a>
</td></tr>
<tr><td>21:45:07,001 DEBUG - Befor click on [[ChromeDriver: chrome on XP (b53124376c2e52f9b1ee6633e4bce8ab)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:45:08,416 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:45:08,416 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:09,562 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:10,252 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:10,858 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir5256_160}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: b53124376c2e52f9b1ee6633e4bce8ab
</td></tr>
<tr><td>21:45:10,859 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:11,657 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:45:11,830 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:45:12,037  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginFromLoginPage]
</td></tr>
<tr><td>21:45:26,949  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\34009512257197.png'>34009512257197.png</a>
</td></tr>
<tr><td>21:45:26,949 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:45:27,254  INFO - [TEST STARTED] loginWithIncorrectPasswordFromLoginPage
</td></tr>
<tr><td>21:45:27,254 DEBUG - LOGIN
</td></tr>
<tr><td>21:45:27,269 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:27,841 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:28,635 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:29,986 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:30,885 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>21:45:30,885 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:31,114 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:31,371 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:31,821 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:32,654 DEBUG - type password - BERK7mxTM
</td></tr>
<tr><td>21:45:32,654 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:45:33,832  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\34016923785000.png'>34016923785000.png</a>
</td></tr>
<tr><td>21:45:33,835 DEBUG - Befor click on [[ChromeDriver: chrome on XP (3fafecd69b5117f0b609990ab0dfc1ca)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:45:34,318 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:45:34,319 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:35,703 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:36,700 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:37,322 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir4856_29202}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 3fafecd69b5117f0b609990ab0dfc1ca
</td></tr>
<tr><td>21:45:37,322 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:45:37,869 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:45:38,153 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:45:41,955  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectPasswordFromLoginPage]
</td></tr>
<tr><td>21:45:56,379  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\34039875392804.png'>34039875392804.png</a>
</td></tr>
<tr><td>21:45:56,380 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>21:45:56,618  INFO - [TEST STARTED] LoginWithEmptyLoginAndPasswordFromLoginPage
</td></tr>
<tr><td>21:45:56,618 DEBUG - LOGIN
</td></tr>
<tr><td>21:45:56,632 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:57,117 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:57,828 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:58,935 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>21:45:59,337 DEBUG - type login - 
</td></tr>
<tr><td>21:45:59,337 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:59,605 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:45:59,971 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:46:00,575 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>21:46:01,100 DEBUG - type password - 
</td></tr>
<tr><td>21:46:01,100 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>21:46:02,602  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h8\logs\screenshots\34045401707538.png'>34045401707538.png</a>
</td></tr>
<tr><td>21:46:02,602 DEBUG - Befor click on [[ChromeDriver: chrome on XP (86391990268d0d6c20d18b711492e84c)] -> css selector: input.o-control]
</td></tr>
<tr><td>21:46:03,660 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>21:46:03,661 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:46:04,924 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:46:05,683 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:46:05,911 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\Temp\scoped_dir2196_13066}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 66.0.3359.181, webStorageEnabled: true}
Session ID: 86391990268d0d6c20d18b711492e84c
</td></tr>
<tr><td>21:46:05,911 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>21:46:06,278 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:46:06,705 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>21:46:07,139  INFO - [TEST COMPLETED SUCCESSFULLY LoginWithEmptyLoginAndPasswordFromLoginPage]
</td></tr>
</table>