<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>notsend</td><td>MailSendTest.checkSendMailWithoutAddress()[pri:10, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]<br/></td></tr>
<tr><td>send</td><td>MailSendTest.checkSendLetter()[pri:2, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]<br/>MailSendTest.checkSendMailWithoutTopicBody()[pri:3, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]<br/></td></tr>
<tr><td>trash</td><td>MailSendTest.checkTrash()[pri:4, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]<br/></td></tr>
</table>
