<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:43:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailSendTest.setUp()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:43:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailRuLoginTest.setUp()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:43:33</td>   <td>8743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginNegative</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:43:43</td>   <td>19170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:43:46</td>   <td>22463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginNegative</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:43:52</td>   <td>28205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:43:55</td>   <td>30634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginNegative</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:00</td>   <td>35938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:44:03</td>   <td>38577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailSendTest.checkSendLetter()[pri:2, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">checkSendLetter</td> 
  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:03</td>   <td>38759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginNegative</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:14</td>   <td>50425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:16</td>   <td>51928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginNegative</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:20</td>   <td>56015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:21</td>   <td>57452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginNegative</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:25</td>   <td>60936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:26</td>   <td>62277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginNegative(java.lang.String, java.lang.String)[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginNegative</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:44:28</td>   <td>63710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailSendTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:44:29</td>   <td>64519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailSendTest.checkSendMailWithoutTopicBody()[pri:3, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">checkSendMailWithoutTopicBody</td> 
  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:31</td>   <td>67248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:33</td>   <td>69211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailRuLoginTest.checkLoginPositive()[pri:1, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">checkLoginPositive</td> 
  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:52</td>   <td>87587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="f89fa3">  <td>18/04/29 09:44:54</td>   <td>89916</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailRuLoginTest.killDriver()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailRuLoginTest@313fcc]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@8209391</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:44:56</td>   <td>92164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailSendTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:44:57</td>   <td>92972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailSendTest.checkTrash()[pri:4, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">checkTrash</td> 
  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:45:06</td>   <td>101998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailSendTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:45:06</td>   <td>102307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailSendTest.checkSendMailWithoutAddress()[pri:10, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">checkSendMailWithoutAddress</td> 
  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:45:09</td>   <td>105485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailSendTest.back()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
<tr bgcolor="c68d9e">  <td>18/04/29 09:45:10</td>   <td>105573</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailSendTest.killDriver()[pri:0, instance:com.epam.gomel.homework.ui.tests.MailSendTest@1d20d0b]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@4327929</td>   <td></td> </tr>
</table>
