<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:36</td>   <td>22950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:42</td>   <td>28665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:42</td>   <td>28893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:52</td>   <td>38773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginAndPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithEmptyLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:56</td>   <td>43455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:57</td>   <td>43702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:05</td>   <td>52293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithCorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithCorrectLoginOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:10</td>   <td>57152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:10</td>   <td>57453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:21</td>   <td>67676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:26</td>   <td>72726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:26</td>   <td>72856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:35</td>   <td>81753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:40</td>   <td>86807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:40</td>   <td>87022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:51</td>   <td>98465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:56</td>   <td>103340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:57</td>   <td>103565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:05</td>   <td>112451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:11</td>   <td>117586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:11</td>   <td>118048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:20</td>   <td>126829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:25</td>   <td>131542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:25</td>   <td>131755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:32</td>   <td>139458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:37</td>   <td>144069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:37</td>   <td>144259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:45</td>   <td>151816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:49</td>   <td>156367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:50</td>   <td>156577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:58</td>   <td>164847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:05</td>   <td>171891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:05</td>   <td>172143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:14</td>   <td>181309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithEmptyPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:19</td>   <td>185908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:19</td>   <td>186157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:27</td>   <td>194097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginAsSpecificCustomerOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginAsSpecificCustomerOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:35</td>   <td>201924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:35</td>   <td>202092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:44</td>   <td>210982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithEmptyLoginOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:49</td>   <td>215574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:00:49</td>   <td>215792</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProfileCloudTest.setUp()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:00</td>   <td>226975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsCreated()[pri:1, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFolderIsCreated</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:09</td>   <td>235898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:09</td>   <td>236474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsRemoved()[pri:2, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFolderIsRemoved</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:26</td>   <td>252541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:26</td>   <td>253175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileUploadsSuccessfuly()[pri:3, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFileUploadsSuccessfuly</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:28</td>   <td>254488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:29</td>   <td>255847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatLinkToItemIsShared()[pri:5, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatLinkToItemIsShared</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:53</td>   <td>279562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:53</td>   <td>280087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileDragNDropSuccessfuly()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFileDragNDropSuccessfuly</td> 
  <td>main@21735538</td>   <td></td> </tr>
</table>
