<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:56</td>   <td>14790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:10</td>   <td>28487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:26</td>   <td>44061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:40</td>   <td>58142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:56</td>   <td>74675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:11</td>   <td>88921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:25</td>   <td>102877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:37</td>   <td>115404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:49</td>   <td>127702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:05</td>   <td>143226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:19</td>   <td>157243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:35</td>   <td>173259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:49</td>   <td>186909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:53</td>   <td>251422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileDragNDropSuccessfuly()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFileDragNDropSuccessfuly</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:26</td>   <td>224510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileUploadsSuccessfuly()[pri:3, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFileUploadsSuccessfuly</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:00</td>   <td>198310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsCreated()[pri:1, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFolderIsCreated</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:09</td>   <td>207809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsRemoved()[pri:2, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatFolderIsRemoved</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:29</td>   <td>227182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatLinkToItemIsShared()[pri:5, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">checkThatLinkToItemIsShared</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:09</td>   <td>207233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:26</td>   <td>223876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:28</td>   <td>225823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:01:53</td>   <td>250897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileCloudTest.home()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&lt;&lt;home</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:27</td>   <td>165432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginAsSpecificCustomerOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginAsSpecificCustomerOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:05</td>   <td>23628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithCorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithCorrectLoginOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:52</td>   <td>10108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginAndPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithEmptyLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:44</td>   <td>182317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithEmptyLoginOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:14</td>   <td>152644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithEmptyPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:21</td>   <td>39011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:35</td>   <td>53088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:51</td>   <td>69800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:05</td>   <td>83786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:20</td>   <td>98164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:32</td>   <td>110793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:45</td>   <td>123151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:58</td>   <td>136182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:36</td>   <td>-5715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">loginWithIncorrectLoginOnCloudFromLoginPage</td> 
  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:13</td>   <td>-28665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:42</td>   <td>228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:57:57</td>   <td>15037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:10</td>   <td>28788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:26</td>   <td>44191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:40</td>   <td>58357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:58:57</td>   <td>74900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:11</td>   <td>89383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:25</td>   <td>103090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:37</td>   <td>115594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 12:59:50</td>   <td>127912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:05</td>   <td>143478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:19</td>   <td>157492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/11 13:00:35</td>   <td>173427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@d56d67]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/11 13:00:49</td>   <td>187127</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProfileCloudTest.setUp()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@18355a8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@21735538</td>   <td></td> </tr>
</table>
