<h2>Reporter output</h2><table><tr><td>12:57:11,318 [main]  INFO - parse Cli
</td></tr>
<tr><td>12:57:11,342 [main]  INFO - Parse cli using JCommander
</td></tr>
<tr><td>12:57:13,494 [main]  INFO - [START SUITE] ParallelMode:none threadCount:1 Cloud Suite
</td></tr>
<tr><td>12:57:13,494 [main]  INFO - [TESTCLASS STARTED] CloudTest
</td></tr>
<tr><td>12:57:35,621 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248581732701005.png'>248581732701005.png</a>
</td></tr>
<tr><td>12:57:35,668 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:57:35,668 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:57:36,208 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248582842154352.png'>248582842154352.png</a>
</td></tr>
<tr><td>12:57:36,209 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (b0e862366fe2c1efa3834c9891075ca1)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:57:36,463 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:57:36,463 [main]  INFO - [TEST START loginWithIncorrectLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>12:57:36,571 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:57:37,072 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:37,210 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:37,318 [main] DEBUG - TYPE LOGIN - sQMZZAe
</td></tr>
<tr><td>12:57:37,319 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:37,385 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:37,657 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:37,759 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:37,862 [main] DEBUG - TYPE PASSWORD - zxc123zxc
</td></tr>
<tr><td>12:57:37,862 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:37,974 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:38,215 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:57:38,764 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248585364708241.png'>248585364708241.png</a>
</td></tr>
<tr><td>12:57:38,764 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (b0e862366fe2c1efa3834c9891075ca1)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:57:38,883 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:57:38,883 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:41,989 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir2...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: b0e862366fe2c1efa3834c98910...}
Session ID: b0e862366fe2c1efa3834c9891075ca1
</td></tr>
<tr><td>12:57:41,990 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:42,177 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>12:57:42,177 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:57:51,664 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248598395172204.png'>248598395172204.png</a>
</td></tr>
<tr><td>12:57:51,664 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:57:51,664 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:57:52,084 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248598835120236.png'>248598835120236.png</a>
</td></tr>
<tr><td>12:57:52,084 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (629a67de27691734e012a68b6e8defa1)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:57:52,286 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:57:52,286 [main]  INFO - [TEST START loginWithEmptyLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:57:52,287 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:57:52,595 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:53,065 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:53,228 [main] DEBUG - TYPE LOGIN - 
</td></tr>
<tr><td>12:57:53,229 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:53,288 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:57:53,387 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:53,484 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:53,594 [main] DEBUG - TYPE PASSWORD - 
</td></tr>
<tr><td>12:57:53,595 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:53,656 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:57:53,784 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:57:54,324 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248600926301776.png'>248600926301776.png</a>
</td></tr>
<tr><td>12:57:54,325 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (629a67de27691734e012a68b6e8defa1)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:57:54,481 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:57:54,481 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:55,103 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:55,662 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:56,236 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:56,811 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:56,867 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 629a67de27691734e012a68b6e8...}
Session ID: 629a67de27691734e012a68b6e8defa1
</td></tr>
<tr><td>12:57:56,867 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:57:56,968 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:57:56,968 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:04,745 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248611478218387.png'>248611478218387.png</a>
</td></tr>
<tr><td>12:58:04,745 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:58:04,745 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:58:05,290 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248611897637516.png'>248611897637516.png</a>
</td></tr>
<tr><td>12:58:05,291 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (47e13fec7c42e24821b021a9a79b337e)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:58:05,806 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:05,806 [main]  INFO - [TEST START loginWithCorrectLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:05,806 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:58:06,095 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:06,244 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:06,350 [main] DEBUG - TYPE LOGIN - yugtest2018
</td></tr>
<tr><td>12:58:06,350 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:06,448 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:06,732 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:06,837 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:06,928 [main] DEBUG - TYPE PASSWORD - 4YMJco06Xu
</td></tr>
<tr><td>12:58:06,928 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:06,996 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:07,230 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:58:07,737 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248614374311777.png'>248614374311777.png</a>
</td></tr>
<tr><td>12:58:07,738 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (47e13fec7c42e24821b021a9a79b337e)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:58:07,882 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:58:07,883 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:10,574 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 47e13fec7c42e24821b021a9a79...}
Session ID: 47e13fec7c42e24821b021a9a79b337e
</td></tr>
<tr><td>12:58:10,575 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:10,664 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithCorrectLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:10,665 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:20,464 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248627219672145.png'>248627219672145.png</a>
</td></tr>
<tr><td>12:58:20,465 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:58:20,465 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:58:20,874 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248627616734080.png'>248627616734080.png</a>
</td></tr>
<tr><td>12:58:20,874 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (3194e386dce277ccebbb22460ad38005)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:58:21,189 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:21,189 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:21,189 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:58:21,588 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:21,917 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:22,023 [main] DEBUG - TYPE LOGIN - ULFOYx
</td></tr>
<tr><td>12:58:22,023 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:22,082 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:22,276 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:22,366 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:22,459 [main] DEBUG - TYPE PASSWORD - gd44YF
</td></tr>
<tr><td>12:58:22,459 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:22,527 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:22,693 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:58:23,255 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248629859520335.png'>248629859520335.png</a>
</td></tr>
<tr><td>12:58:23,256 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (3194e386dce277ccebbb22460ad38005)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:58:23,428 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:58:23,429 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:26,059 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
</td></tr>
<tr><td>12:58:26,059 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:26,238 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:26,239 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:34,651 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248641401336763.png'>248641401336763.png</a>
</td></tr>
<tr><td>12:58:34,652 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:58:34,652 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:58:35,066 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248641800481712.png'>248641800481712.png</a>
</td></tr>
<tr><td>12:58:35,067 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (c50ce27bceee4d45dcebad80f2719423)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:58:35,266 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:35,267 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:35,267 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:58:35,523 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:35,849 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:36,098 [main] DEBUG - TYPE LOGIN - NdGXYPL2S1
</td></tr>
<tr><td>12:58:36,098 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:36,171 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:36,409 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:36,498 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:36,594 [main] DEBUG - TYPE PASSWORD - ZbzCdU
</td></tr>
<tr><td>12:58:36,595 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:36,666 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:36,824 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:58:37,357 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248643970622343.png'>248643970622343.png</a>
</td></tr>
<tr><td>12:58:37,357 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (c50ce27bceee4d45dcebad80f2719423)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:58:37,484 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:58:37,484 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:40,179 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: c50ce27bceee4d45dcebad80f27...}
Session ID: c50ce27bceee4d45dcebad80f2719423
</td></tr>
<tr><td>12:58:40,179 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:40,319 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:40,320 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:50,728 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248657474897172.png'>248657474897172.png</a>
</td></tr>
<tr><td>12:58:50,728 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:58:50,728 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:58:51,450 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248657878793115.png'>248657878793115.png</a>
</td></tr>
<tr><td>12:58:51,450 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (5de2843caac5d53fc39c1811825af914)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:58:51,978 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:58:51,978 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:51,979 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:58:52,177 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:52,446 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:52,545 [main] DEBUG - TYPE LOGIN - I4lyjL1
</td></tr>
<tr><td>12:58:52,546 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:52,602 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:58:52,825 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:52,907 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:53,007 [main] DEBUG - TYPE PASSWORD - HzOPjh
</td></tr>
<tr><td>12:58:53,007 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:53,082 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:58:53,353 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:58:53,877 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248660496206884.png'>248660496206884.png</a>
</td></tr>
<tr><td>12:58:53,878 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (5de2843caac5d53fc39c1811825af914)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:58:54,015 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:58:54,015 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:56,676 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 5de2843caac5d53fc39c1811825...}
Session ID: 5de2843caac5d53fc39c1811825af914
</td></tr>
<tr><td>12:58:56,677 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:58:56,852 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:58:56,852 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:05,307 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248672051542419.png'>248672051542419.png</a>
</td></tr>
<tr><td>12:59:05,308 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:59:05,308 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:59:05,714 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248672455541190.png'>248672455541190.png</a>
</td></tr>
<tr><td>12:59:05,715 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (1bbf9d213ed32f9b1372efce1e9a92c7)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:59:05,964 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:05,965 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:05,965 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:59:06,241 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:06,510 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:06,793 [main] DEBUG - TYPE LOGIN - CJMjJw71
</td></tr>
<tr><td>12:59:06,794 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:06,857 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:07,108 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:07,198 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:07,295 [main] DEBUG - TYPE PASSWORD - Jlo7vNxUH
</td></tr>
<tr><td>12:59:07,296 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:07,401 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:07,579 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:59:08,136 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248674737217329.png'>248674737217329.png</a>
</td></tr>
<tr><td>12:59:08,137 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (1bbf9d213ed32f9b1372efce1e9a92c7)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:59:08,281 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:59:08,281 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:10,949 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir2...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 1bbf9d213ed32f9b1372efce1e9...}
Session ID: 1bbf9d213ed32f9b1372efce1e9a92c7
</td></tr>
<tr><td>12:59:10,952 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:11,098 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:11,098 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:19,555 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248686298091495.png'>248686298091495.png</a>
</td></tr>
<tr><td>12:59:19,555 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:59:19,555 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:59:19,997 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248686705951222.png'>248686705951222.png</a>
</td></tr>
<tr><td>12:59:19,998 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (a2075988ae0b6970eb04c569308979c1)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:59:20,342 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:20,342 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:20,342 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:59:20,657 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:20,872 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:20,976 [main] DEBUG - TYPE LOGIN - L4xZJc
</td></tr>
<tr><td>12:59:20,976 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:21,043 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:21,244 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:21,326 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:21,420 [main] DEBUG - TYPE PASSWORD - 6x33i4xY
</td></tr>
<tr><td>12:59:21,420 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:21,489 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:21,766 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:59:22,262 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248688907952741.png'>248688907952741.png</a>
</td></tr>
<tr><td>12:59:22,263 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (a2075988ae0b6970eb04c569308979c1)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:59:22,397 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:59:22,397 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:24,911 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: a2075988ae0b6970eb04c569308...}
Session ID: a2075988ae0b6970eb04c569308979c1
</td></tr>
<tr><td>12:59:24,912 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:25,055 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:25,055 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:32,394 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248699171304166.png'>248699171304166.png</a>
</td></tr>
<tr><td>12:59:32,394 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:59:32,394 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:59:32,786 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248699538415425.png'>248699538415425.png</a>
</td></tr>
<tr><td>12:59:32,786 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (8ec4be0b856955203e35c3b128a821df)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:59:32,971 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:32,971 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:32,971 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:59:33,264 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:33,408 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:33,658 [main] DEBUG - TYPE LOGIN - wQ4vWpM5
</td></tr>
<tr><td>12:59:33,658 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:33,863 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:34,092 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:34,176 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:34,268 [main] DEBUG - TYPE PASSWORD - O1k3b8c5AI
</td></tr>
<tr><td>12:59:34,268 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:34,335 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:34,500 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:59:35,003 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248701639925844.png'>248701639925844.png</a>
</td></tr>
<tr><td>12:59:35,004 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (8ec4be0b856955203e35c3b128a821df)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:59:35,124 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:59:35,124 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:37,450 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 8ec4be0b856955203e35c3b128a...}
Session ID: 8ec4be0b856955203e35c3b128a821df
</td></tr>
<tr><td>12:59:37,451 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:37,581 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:37,581 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:44,704 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248711477842489.png'>248711477842489.png</a>
</td></tr>
<tr><td>12:59:44,704 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:59:44,704 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:59:45,119 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248711853584899.png'>248711853584899.png</a>
</td></tr>
<tr><td>12:59:45,120 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (aa0c3f967c3bb03cd7a0e355d35def5c)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:59:45,329 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:45,329 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:45,329 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:59:45,607 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:45,903 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:46,102 [main] DEBUG - TYPE LOGIN - SzTPkP8a5N
</td></tr>
<tr><td>12:59:46,102 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:46,165 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:46,420 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:46,497 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:46,584 [main] DEBUG - TYPE PASSWORD - 5ZRreq7GA
</td></tr>
<tr><td>12:59:46,584 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:46,644 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:46,809 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>12:59:47,385 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248713947735651.png'>248713947735651.png</a>
</td></tr>
<tr><td>12:59:47,385 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (aa0c3f967c3bb03cd7a0e355d35def5c)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>12:59:47,528 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>12:59:47,528 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:49,734 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: aa0c3f967c3bb03cd7a0e355d35...}
Session ID: aa0c3f967c3bb03cd7a0e355d35def5c
</td></tr>
<tr><td>12:59:49,735 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>12:59:49,880 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:49,880 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:57,681 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248724427647927.png'>248724427647927.png</a>
</td></tr>
<tr><td>12:59:57,681 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>12:59:57,681 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>12:59:58,097 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248724839114314.png'>248724839114314.png</a>
</td></tr>
<tr><td>12:59:58,097 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (7650b3a5a44cef8643b3f326f2954ad7)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>12:59:58,360 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>12:59:58,360 [main]  INFO - [TEST START loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>12:59:58,360 [main] DEBUG - LOGIN
</td></tr>
<tr><td>12:59:58,595 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:58,894 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:59,104 [main] DEBUG - TYPE LOGIN - prFU4nQa
</td></tr>
<tr><td>12:59:59,104 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:59,173 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>12:59:59,395 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:59,468 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:59,552 [main] DEBUG - TYPE PASSWORD - CMysrT
</td></tr>
<tr><td>12:59:59,552 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:59,621 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>12:59:59,770 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>13:00:00,263 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248726907758606.png'>248726907758606.png</a>
</td></tr>
<tr><td>13:00:00,263 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (7650b3a5a44cef8643b3f326f2954ad7)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>13:00:03,012 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>13:00:03,012 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:03,635 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:04,181 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:04,734 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:05,280 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:05,324 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 7650b3a5a44cef8643b3f326f29...}
Session ID: 7650b3a5a44cef8643b3f326f2954ad7
</td></tr>
<tr><td>13:00:05,324 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:05,404 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>13:00:05,404 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:00:13,991 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248740743382741.png'>248740743382741.png</a>
</td></tr>
<tr><td>13:00:13,992 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>13:00:13,992 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>13:00:14,404 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248741136588415.png'>248741136588415.png</a>
</td></tr>
<tr><td>13:00:14,404 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (ce8db9f5d61781a7779610dfe5b47c2a)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>13:00:14,822 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:00:14,822 [main]  INFO - [TEST START loginWithEmptyPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>13:00:14,823 [main] DEBUG - LOGIN
</td></tr>
<tr><td>13:00:15,200 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:15,437 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:15,549 [main] DEBUG - TYPE LOGIN - yugtest2018
</td></tr>
<tr><td>13:00:15,549 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:15,608 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:15,919 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:16,009 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:16,117 [main] DEBUG - TYPE PASSWORD - 
</td></tr>
<tr><td>13:00:16,117 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:16,177 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:16,275 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>13:00:16,819 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248743416594132.png'>248743416594132.png</a>
</td></tr>
<tr><td>13:00:16,820 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (ce8db9f5d61781a7779610dfe5b47c2a)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>13:00:16,976 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>13:00:16,977 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:17,575 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:18,132 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:18,687 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:19,267 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:19,325 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: ce8db9f5d61781a7779610dfe5b...}
Session ID: ce8db9f5d61781a7779610dfe5b47c2a
</td></tr>
<tr><td>13:00:19,325 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:19,420 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyPasswordOnCloudFromLoginPage]
</td></tr>
<tr><td>13:00:19,421 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:00:26,818 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248753572577355.png'>248753572577355.png</a>
</td></tr>
<tr><td>13:00:26,818 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>13:00:26,818 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>13:00:27,254 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248753968878961.png'>248753968878961.png</a>
</td></tr>
<tr><td>13:00:27,255 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (56e7d032aa021d2bee47c3838d688fb7)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>13:00:27,610 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:00:27,610 [main]  INFO - [TEST START loginAsSpecificCustomerOnCloudFromLoginPage]
</td></tr>
<tr><td>13:00:27,610 [main] DEBUG - LOGIN
</td></tr>
<tr><td>13:00:27,940 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:28,118 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:28,219 [main] DEBUG - TYPE LOGIN - yugtest2018
</td></tr>
<tr><td>13:00:28,219 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:28,275 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:28,540 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:28,624 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:28,729 [main] DEBUG - TYPE PASSWORD - zxc123zxc
</td></tr>
<tr><td>13:00:28,730 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:28,804 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:28,982 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>13:00:29,574 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248756140625586.png'>248756140625586.png</a>
</td></tr>
<tr><td>13:00:29,575 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (56e7d032aa021d2bee47c3838d688fb7)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>13:00:29,771 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>13:00:29,771 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:35,183 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:35,334 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:35,437 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginAsSpecificCustomerOnCloudFromLoginPage]
</td></tr>
<tr><td>13:00:35,437 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:00:43,853 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248770596869506.png'>248770596869506.png</a>
</td></tr>
<tr><td>13:00:43,854 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>13:00:43,854 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>13:00:44,278 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248771014331490.png'>248771014331490.png</a>
</td></tr>
<tr><td>13:00:44,278 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (3fb3c54718db3329b6823362d87c90aa)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>13:00:44,495 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:00:44,496 [main]  INFO - [TEST START loginWithEmptyLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>13:00:44,496 [main] DEBUG - LOGIN
</td></tr>
<tr><td>13:00:44,803 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:45,152 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:45,371 [main] DEBUG - TYPE LOGIN - 
</td></tr>
<tr><td>13:00:45,371 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:45,434 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:45,552 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:45,638 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:45,741 [main] DEBUG - TYPE PASSWORD - zxc123zxc
</td></tr>
<tr><td>13:00:45,742 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:45,815 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:46,001 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>13:00:46,499 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248773147515914.png'>248773147515914.png</a>
</td></tr>
<tr><td>13:00:46,499 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (3fb3c54718db3329b6823362d87c90aa)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>13:00:46,638 [main] DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>13:00:46,638 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:47,282 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:47,840 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:48,385 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:48,938 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:48,998 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir1...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 3fb3c54718db3329b6823362d87...}
Session ID: 3fb3c54718db3329b6823362d87c90aa
</td></tr>
<tr><td>13:00:48,999 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>13:00:49,087 [main]  INFO - [TEST COMPLETED SUCCESSFULLY loginWithEmptyLoginOnCloudFromLoginPage]
</td></tr>
<tr><td>13:00:49,087 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:00:56,817 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248783555968716.png'>248783555968716.png</a>
</td></tr>
<tr><td>13:00:56,818 [main] DEBUG - WebDriver navigate to url: https://cloud.mail.ru/
</td></tr>
<tr><td>13:00:56,818 [main]  INFO - [LOGIN]
</td></tr>
<tr><td>13:00:57,042 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: a#PH_authLink
</td></tr>
<tr><td>13:00:57,860 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248784201669568.png'>248784201669568.png</a>
</td></tr>
<tr><td>13:00:57,860 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: a#PH_authLink]
</td></tr>
<tr><td>13:00:58,109 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:58,711 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:58,768 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:58,895 [main] DEBUG - TYPE LOGIN - yugtest2018
</td></tr>
<tr><td>13:00:58,895 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:58,955 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='Login']
</td></tr>
<tr><td>13:00:59,235 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:59,316 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:59,434 [main] DEBUG - TYPE PASSWORD - zxc123zxc
</td></tr>
<tr><td>13:00:59,435 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:59,499 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input#ph_password
</td></tr>
<tr><td>13:00:59,817 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: input[type='submit']
</td></tr>
<tr><td>13:01:00,357 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248786960585308.png'>248786960585308.png</a>
</td></tr>
<tr><td>13:01:00,357 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: input[type='submit']]
</td></tr>
<tr><td>13:01:00,488 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:00,488 [main]  INFO - [TEST START checkThatFolderIsCreated]
</td></tr>
<tr><td>13:01:00,489 [main]  INFO - [CREATE FOLDER]
</td></tr>
<tr><td>13:01:00,489 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:01,033 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:05,897 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:06,359 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248793086143395.png'>248793086143395.png</a>
</td></tr>
<tr><td>13:01:06,360 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: .b-layer__container_disko-promo .b-panel__close]
</td></tr>
<tr><td>13:01:06,589 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: #toolbar-left .b-dropdown
</td></tr>
<tr><td>13:01:07,015 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248793751939651.png'>248793751939651.png</a>
</td></tr>
<tr><td>13:01:07,015 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: #toolbar-left .b-dropdown]
</td></tr>
<tr><td>13:01:07,193 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-dropdown_expanded>div>a[data-name='folder']
</td></tr>
<tr><td>13:01:07,730 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248794436516734.png'>248794436516734.png</a>
</td></tr>
<tr><td>13:01:07,730 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: .b-dropdown_expanded>div>a[data-name='folder']]
</td></tr>
<tr><td>13:01:08,065 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>13:01:08,202 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>13:01:08,515 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form button.btn_main
</td></tr>
<tr><td>13:01:08,961 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248795659749884.png'>248795659749884.png</a>
</td></tr>
<tr><td>13:01:08,962 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: form.layer__form button.btn_main]
</td></tr>
<tr><td>13:01:09,104 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:09,212 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:09,411 [main]  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFolderIsCreated]
</td></tr>
<tr><td>13:01:09,411 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:09,411 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>13:01:09,848 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248796588057020.png'>248796588057020.png</a>
</td></tr>
<tr><td>13:01:09,848 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>13:01:09,987 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:09,987 [main]  INFO - [TEST START checkThatFolderIsRemoved]
</td></tr>
<tr><td>13:01:09,987 [main]  INFO - [DELETE FOLDER]
</td></tr>
<tr><td>13:01:09,987 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:10,052 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:10,139 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[text()='MyFolder' and @class='b-filename__name']/../../../..//*[@class='b-checkbox__box']
</td></tr>
<tr><td>13:01:10,536 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248797288545560.png'>248797288545560.png</a>
</td></tr>
<tr><td>13:01:10,537 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> xpath: //*[text()='MyFolder' and @class='b-filename__name']/../../../..//*[@class='b-checkbox__box']]
</td></tr>
<tr><td>13:01:10,690 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>13:01:11,252 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>13:01:11,322 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>13:01:11,714 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248798473585581.png'>248798473585581.png</a>
</td></tr>
<tr><td>13:01:11,714 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> xpath: //*[contains(@class,'b-toolbar__btn_remove') and not(contains(@class,'b-toolbar__btn_disabled'))]]
</td></tr>
<tr><td>13:01:11,970 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls__buttons>button.btn_main
</td></tr>
<tr><td>13:01:12,078 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls__buttons>button.btn_main
</td></tr>
<tr><td>13:01:12,488 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248799219741692.png'>248799219741692.png</a>
</td></tr>
<tr><td>13:01:12,488 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: .layer_remove .b-layer__controls__buttons>button.btn_main]
</td></tr>
<tr><td>13:01:12,637 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>13:01:13,247 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>13:01:13,375 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]
</td></tr>
<tr><td>13:01:13,782 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248800522915706.png'>248800522915706.png</a>
</td></tr>
<tr><td>13:01:13,782 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> xpath: //*[@class='layer__footer']/button[not(contains(@class, 'btn_main'))]]
</td></tr>
<tr><td>13:01:13,960 [main] DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>13:01:14,563 [main] DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>13:01:14,635 [main] DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]
</td></tr>
<tr><td>13:01:15,025 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248801776425938.png'>248801776425938.png</a>
</td></tr>
<tr><td>13:01:15,025 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> xpath: //div[contains(@class,'b-toolbar__btn_clear') and not(contains(@class,'b-toolbar__btn_disabled'))]]
</td></tr>
<tr><td>13:01:15,159 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls button[data-name='empty']
</td></tr>
<tr><td>13:01:15,257 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_remove .b-layer__controls button[data-name='empty']
</td></tr>
<tr><td>13:01:15,611 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248802395837386.png'>248802395837386.png</a>
</td></tr>
<tr><td>13:01:15,611 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: .layer_remove .b-layer__controls button[data-name='empty']]
</td></tr>
<tr><td>13:01:15,734 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:15,842 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:15,928 [main] DEBUG - No such WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:15,928 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:16,471 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:17,004 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:17,533 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:18,065 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:18,592 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:19,124 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:19,654 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:20,184 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:20,716 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:21,255 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:21,785 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:22,312 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:22,840 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:23,367 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:23,900 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:24,428 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:24,966 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:25,494 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:26,026 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:26,054 [main]  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFolderIsRemoved]
</td></tr>
<tr><td>13:01:26,054 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:26,054 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>13:01:26,395 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248813179931476.png'>248813179931476.png</a>
</td></tr>
<tr><td>13:01:26,396 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>13:01:26,688 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:26,689 [main]  INFO - [TEST START checkThatFileUploadsSuccessfuly]
</td></tr>
<tr><td>13:01:26,689 [main]  INFO - [UPLOAD FILE]
</td></tr>
<tr><td>13:01:26,689 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='cloud_toolbars']//*[contains(@class, 'ico_toolbar_upload')]/..
</td></tr>
<tr><td>13:01:27,283 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248813985545201.png'>248813985545201.png</a>
</td></tr>
<tr><td>13:01:27,284 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> xpath: //*[@id='cloud_toolbars']//*[contains(@class, 'ico_toolbar_upload')]/..]
</td></tr>
<tr><td>13:01:27,487 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .layer_upload__controls input[type='file']
</td></tr>
<tr><td>13:01:27,806 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='js-upload-panel']//*[@class='b-filename__name' and contains(text(),'web_driver_drawing_cat')]
</td></tr>
<tr><td>13:01:27,928 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='js-upload-panel']//*[@class='b-filename__name' and contains(text(),'web_driver_drawing_cat')]
</td></tr>
<tr><td>13:01:28,001 [main]  INFO - [TEST COMPLETED SUCCESSFULLY checkThatFileUploadsSuccessfuly]
</td></tr>
<tr><td>13:01:28,001 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:28,001 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>13:01:28,430 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248815137769443.png'>248815137769443.png</a>
</td></tr>
<tr><td>13:01:28,431 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>13:01:28,848 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248815566970883.png'>248815566970883.png</a>
</td></tr>
<tr><td>13:01:28,849 [main] DEBUG - Stale element reference exception by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>13:01:28,849 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>13:01:29,230 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248815980268120.png'>248815980268120.png</a>
</td></tr>
<tr><td>13:01:29,231 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: #navmenu a[href='/home/]
</td></tr>
<tr><td>13:01:29,360 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:29,360 [main]  INFO - [TEST START checkThatLinkToItemIsShared]
</td></tr>
<tr><td>13:01:29,360 [main]  INFO - [SHARE]
</td></tr>
<tr><td>13:01:29,360 [main]  INFO - [CREATE FOLDER]
</td></tr>
<tr><td>13:01:29,360 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:29,929 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:30,478 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:31,027 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:31,577 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:32,131 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:32,677 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:33,242 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:33,791 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:34,342 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:34,891 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:35,443 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:35,990 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:36,541 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:37,096 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:37,664 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:38,219 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:38,778 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:39,330 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-layer__container_disko-promo .b-panel__close
</td></tr>
<tr><td>13:01:39,381 [main] DEBUG - Expected condition failed: waiting for visibility of element located by By.cssSelector: .b-layer__container_disko-promo .b-panel__close (tried for 10 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.37.544315 (730aa6a5fdba15..., userDataDir: C:\WINDOWS\TEMP\scoped_dir8...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: d45627f2d20e8ba383e357c07ed...}
Session ID: d45627f2d20e8ba383e357c07ed0e4cb
</td></tr>
<tr><td>13:01:39,381 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: #toolbar-left .b-dropdown
</td></tr>
<tr><td>13:01:39,743 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248826506297680.png'>248826506297680.png</a>
</td></tr>
<tr><td>13:01:39,744 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: #toolbar-left .b-dropdown]
</td></tr>
<tr><td>13:01:39,871 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: .b-dropdown_expanded>div>a[data-name='folder']
</td></tr>
<tr><td>13:01:40,238 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248827001124281.png'>248827001124281.png</a>
</td></tr>
<tr><td>13:01:40,238 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: .b-dropdown_expanded>div>a[data-name='folder']]
</td></tr>
<tr><td>13:01:40,399 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>13:01:40,499 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form input
</td></tr>
<tr><td>13:01:40,820 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: form.layer__form button.btn_main
</td></tr>
<tr><td>13:01:41,185 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248827950786356.png'>248827950786356.png</a>
</td></tr>
<tr><td>13:01:41,185 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: form.layer__form button.btn_main]
</td></tr>
<tr><td>13:01:41,324 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:41,860 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:41,932 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']
</td></tr>
<tr><td>13:01:42,004 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>13:01:42,110 [main] DEBUG - Befor finding WebElement by locator By.xpath: //*[@class='b-filename__name' and text()='MyFolder']/../../../../..
</td></tr>
<tr><td>13:01:42,389 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: div#toolbar div[data-name='publish']
</td></tr>
<tr><td>13:01:42,638 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:43,196 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:43,729 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:44,256 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:44,784 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:45,312 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:45,843 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:46,370 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:46,895 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:47,424 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:47,951 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:48,479 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:49,004 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:49,533 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:50,061 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:50,590 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:51,117 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:51,647 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:52,179 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:52,707 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: button[data-id='email']
</td></tr>
<tr><td>13:01:52,741 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:52,741 [main] ERROR - [TEST IS FAILURED] - [TestResult name=checkThatLinkToItemIsShared status=FAILURE method=ProfileCloudTest.checkThatLinkToItemIsShared()[pri:5, instance:com.epam.tat.test.ProfileCloudTest@18355a8] output=13:01:29,360 [main]  INFO - [SHARE]
]
</td></tr>
<tr><td>13:01:52,741 [main]  INFO - ---------------------------------------------------------
</td></tr>
<tr><td>13:01:53,074 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248839840866229.png'>248839840866229.png</a>
</td></tr>
<tr><td>13:01:53,075 [main] DEBUG - Befor finding WebElement by locator By.cssSelector: #navmenu a[href='/home/
</td></tr>
<tr><td>13:01:53,437 [main]  INFO - <a href='C:\Users\Юрий\Documents\gtat_2018q1__yury_hamaniuk\h13\logs\screenshots\248840207389534.png'>248840207389534.png</a>
</td></tr>
<tr><td>13:01:53,438 [main] DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d45627f2d20e8ba383e357c07ed0e4cb)] -> css selector: #navmenu a[href='/home/]
</td></tr>
</table>