<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.epam.tat.test.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithIncorrectLoginFromLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginAsSpecificCustomerFromLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithIncorrectLoginAndPasswordFromLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithEmptyLoginAndPasswordFromLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithIncorrectPasswordFromLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>killWebDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.epam.tat.test.LetterTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSendingAndReceivingLetterWithCorrectDataFilled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkThatDraftCreatedAndDeleted</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkMailSendWithoutTopicAndBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkThatMailDoesNotsendWithoutAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>killBrowser</td>
<td>&nbsp;</td></tr>
</table>
