<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/06/10 19:47:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:47:56</td>   <td>13609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:11</td>   <td>28849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:11</td>   <td>29178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:21</td>   <td>38877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:29</td>   <td>46712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:29</td>   <td>46910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:39</td>   <td>56541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:46</td>   <td>63866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:46</td>   <td>64083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:55</td>   <td>72953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:02</td>   <td>80284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:03</td>   <td>80578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:15</td>   <td>92670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:22</td>   <td>100087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:22</td>   <td>100333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:31</td>   <td>109263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:38</td>   <td>116131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:38</td>   <td>116376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:47</td>   <td>124999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:55</td>   <td>132513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:55</td>   <td>132719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:04</td>   <td>141678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:12</td>   <td>149493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:12</td>   <td>149706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:20</td>   <td>158153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:27</td>   <td>164801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:27</td>   <td>165126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:37</td>   <td>175139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:45</td>   <td>182875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:45</td>   <td>183085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:54</td>   <td>191799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:51:02</td>   <td>199562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:02</td>   <td>199762</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:26</td>   <td>224379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkMailSendWithoutTopicAndBody</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:44</td>   <td>241666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:59</td>   <td>256711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkThatDraftCreatedAndDeleted</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:52:32</td>   <td>289844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:52:36</td>   <td>294197</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:52:37</td>   <td>294508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:52:50</td>   <td>308287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@3884b2]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:52:57</td>   <td>315078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
</table>
