<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRu Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/06/10 19:52:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithEmptyLoginAndPasswordFromLoginPage()[pri:1, instance:com.epam.tat.test.LoginTest@3884b2]">LoginWithEmptyLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:26</td>   <td>-83908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkMailSendWithoutTopicAndBody()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkMailSendWithoutTopicAndBody</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:44</td>   <td>-66621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkSendingAndReceivingLetterWithCorrectDataFilled()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkSendingAndReceivingLetterWithCorrectDataFilled</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:59</td>   <td>-51576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatDraftCreatedAndDeleted()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkThatDraftCreatedAndDeleted</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:52:32</td>   <td>-18443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LetterTest.checkThatMailDoesNotsendWithoutAddress()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">checkThatMailDoesNotsendWithoutAddress</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:52:36</td>   <td>-14090</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LetterTest.killBrowser()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">&lt;&lt;killBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:11</td>   <td>-279438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:29</td>   <td>-261575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:46</td>   <td>-244421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:02</td>   <td>-228003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:22</td>   <td>-208200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:38</td>   <td>-192156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:55</td>   <td>-175774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:12</td>   <td>-158794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:27</td>   <td>-143486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:45</td>   <td>-125412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:51:02</td>   <td>-108725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:52:57</td>   <td>6791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.killWebDriver()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&lt;&lt;killWebDriver</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:47:56</td>   <td>-294678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsSpecificCustomerFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginAsSpecificCustomerFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:21</td>   <td>-269410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:39</td>   <td>-251746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:55</td>   <td>-235334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:15</td>   <td>-215617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:31</td>   <td>-199024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:47</td>   <td>-183288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:04</td>   <td>-166609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:20</td>   <td>-150134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginAndPasswordFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginAndPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:37</td>   <td>-133148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectLoginFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectLoginFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:54</td>   <td>-116488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithIncorrectPasswordFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">loginWithIncorrectPasswordFromLoginPage</td> 
  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/06/10 19:51:02</td>   <td>-108525</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LetterTest.setUp()[pri:0, instance:com.epam.tat.test.LetterTest@1275dab]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:47:42</td>   <td>-308287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:11</td>   <td>-279109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:29</td>   <td>-261377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:48:46</td>   <td>-244204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:03</td>   <td>-227709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:22</td>   <td>-207954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:38</td>   <td>-191911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:49:55</td>   <td>-175568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:12</td>   <td>-158581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:27</td>   <td>-143161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:50:45</td>   <td>-125202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/06/10 19:52:37</td>   <td>-13779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUpMethod()[pri:0, instance:com.epam.tat.test.LoginTest@3884b2]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@4976137</td>   <td></td> </tr>
</table>
