<h2>Reporter output</h2><table><tr><td>19:47:41,495  INFO - parse Cli
</td></tr>
<tr><td>19:47:41,517  INFO - Parse cli using JCommander
</td></tr>
<tr><td>19:47:42,528  INFO - [START SUITE] ParallelMode:none threadCount:1 MailRu Suite
</td></tr>
<tr><td>19:47:42,529  INFO - [TESTCLASS STARTED] MailRuTest
</td></tr>
<tr><td>19:47:55,942  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186804491110712.png'>186804491110712.png</a>
</td></tr>
<tr><td>19:47:55,943 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:47:56,169 DEBUG - LOGIN
</td></tr>
<tr><td>19:47:56,216 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:47:56,493 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:47:56,655 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>19:47:56,655 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:47:57,858 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:47:58,577 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:47:58,806 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:47:59,147 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:47:59,782 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:00,361 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>19:48:00,361 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:48:01,568  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186809688554946.png'>186809688554946.png</a>
</td></tr>
<tr><td>19:48:01,569 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (7b53c5a6d107c91a654a4f60097e77e7)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:48:02,028 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:48:02,029 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:11,227 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir4804_13064}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 7b53c5a6d107c91a654a4f60097...}
Session ID: 7b53c5a6d107c91a654a4f60097e77e7
</td></tr>
<tr><td>19:48:11,228 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:11,327 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:11,407  INFO - [TEST COMPLETED SUCCESSFULLY loginAsSpecificCustomerFromLoginPage]
</td></tr>
<tr><td>19:48:21,216  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186829822816292.png'>186829822816292.png</a>
</td></tr>
<tr><td>19:48:21,216 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:48:21,450 DEBUG - LOGIN
</td></tr>
<tr><td>19:48:21,487 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:21,748 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:21,900 DEBUG - type login - 44aG4p
</td></tr>
<tr><td>19:48:21,900 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:22,546 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:23,333 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:23,458 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:23,614 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:24,001 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:24,755 DEBUG - type password - sWeIDTTRcl
</td></tr>
<tr><td>19:48:24,755 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:48:26,117  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186833950469339.png'>186833950469339.png</a>
</td></tr>
<tr><td>19:48:26,118 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (7299f3829edcdb1c53f65cfb6b6ed638)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:48:26,369 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:48:26,370 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:27,455 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:28,032 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:28,642 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:28,771 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir17944_19041}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 7299f3829edcdb1c53f65cfb6b6...}
Session ID: 7299f3829edcdb1c53f65cfb6b6ed638
</td></tr>
<tr><td>19:48:28,771 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:29,046 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:48:29,166 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:48:29,270  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:48:38,920  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186847504192053.png'>186847504192053.png</a>
</td></tr>
<tr><td>19:48:38,920 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:48:39,100 DEBUG - LOGIN
</td></tr>
<tr><td>19:48:39,170 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:39,401 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:39,523 DEBUG - type login - VdYhmLZXs
</td></tr>
<tr><td>19:48:39,523 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:40,024 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:40,978 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:41,094 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:41,253 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:41,459 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:42,140 DEBUG - type password - Sfqa2xwX
</td></tr>
<tr><td>19:48:42,140 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:48:43,216  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186851341050125.png'>186851341050125.png</a>
</td></tr>
<tr><td>19:48:43,217 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (9e6693dc44676bf781e63fdff1bc1124)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:48:43,584 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:48:43,585 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:44,607 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:45,197 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:45,798 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:45,900 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir1148_6154}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 9e6693dc44676bf781e63fdff1b...}
Session ID: 9e6693dc44676bf781e63fdff1bc1124
</td></tr>
<tr><td>19:48:45,900 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:48:46,142 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:48:46,290 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:48:46,425  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:48:55,320  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186863854718993.png'>186863854718993.png</a>
</td></tr>
<tr><td>19:48:55,321 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:48:55,512 DEBUG - LOGIN
</td></tr>
<tr><td>19:48:55,548 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:55,821 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:55,979 DEBUG - type login - LgOGpZXqN4
</td></tr>
<tr><td>19:48:55,979 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:56,676 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:48:57,528 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:57,654 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:57,844 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:58,094 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:48:58,668 DEBUG - type password - 4mU1J7ijp
</td></tr>
<tr><td>19:48:58,668 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:48:59,615  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186867852482805.png'>186867852482805.png</a>
</td></tr>
<tr><td>19:48:59,615 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (7f311606c2132c18d42aa0467216dac6)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:48:59,901 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:48:59,901 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:00,980 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:01,562 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:02,146 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:02,314 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir6876_23284}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 7f311606c2132c18d42aa046721...}
Session ID: 7f311606c2132c18d42aa0467216dac6
</td></tr>
<tr><td>19:49:02,315 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:02,552 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:02,695 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:02,843  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:49:15,032  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186883617672332.png'>186883617672332.png</a>
</td></tr>
<tr><td>19:49:15,032 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:49:15,229 DEBUG - LOGIN
</td></tr>
<tr><td>19:49:15,282 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:15,536 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:15,678 DEBUG - type login - yYqk6ItgA0
</td></tr>
<tr><td>19:49:15,678 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:16,632 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:17,214 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:17,408 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:17,574 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:18,002 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:18,470 DEBUG - type password - gYFnNV
</td></tr>
<tr><td>19:49:18,471 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:49:19,492  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186887648708036.png'>186887648708036.png</a>
</td></tr>
<tr><td>19:49:19,492 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (db320099d8c5489001b2bea9e53426f1)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:49:19,737 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:49:19,737 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:20,793 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:21,388 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:22,032 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:22,147 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir18228_24973}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: db320099d8c5489001b2bea9e53...}
Session ID: db320099d8c5489001b2bea9e53426f1
</td></tr>
<tr><td>19:49:22,147 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:22,421 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:22,546 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:22,646  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:49:31,665  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186900285666376.png'>186900285666376.png</a>
</td></tr>
<tr><td>19:49:31,665 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:49:31,822 DEBUG - LOGIN
</td></tr>
<tr><td>19:49:31,859 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:32,075 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:32,218 DEBUG - type login - M7IaHuHLN
</td></tr>
<tr><td>19:49:32,218 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:32,897 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:33,625 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:33,729 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:33,859 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:34,028 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:34,665 DEBUG - type password - IzIkzyd
</td></tr>
<tr><td>19:49:34,665 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:49:35,667  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186903855978103.png'>186903855978103.png</a>
</td></tr>
<tr><td>19:49:35,668 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (d6a8c6e3cdcaabcc006ded7782cadc2d)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:49:35,934 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:49:35,934 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:36,965 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:37,548 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:38,121 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:38,187 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir5108_9248}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: d6a8c6e3cdcaabcc006ded7782c...}
Session ID: d6a8c6e3cdcaabcc006ded7782cadc2d
</td></tr>
<tr><td>19:49:38,188 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:38,435 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:38,563 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:38,690  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:49:47,366  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186915783853020.png'>186915783853020.png</a>
</td></tr>
<tr><td>19:49:47,367 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:49:47,558 DEBUG - LOGIN
</td></tr>
<tr><td>19:49:47,594 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:47,782 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:47,926 DEBUG - type login - 9YtZwk0
</td></tr>
<tr><td>19:49:47,927 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:48,472 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:49:49,323 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:49,441 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:49,601 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:49,861 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:49:50,841 DEBUG - type password - ScrBzbiS4
</td></tr>
<tr><td>19:49:50,841 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:49:51,892  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186920022867492.png'>186920022867492.png</a>
</td></tr>
<tr><td>19:49:51,892 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (8b77104fcb288193f3c9c41ed37f41f8)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:49:52,148 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:49:52,149 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:53,171 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:53,749 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:54,372 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:54,523 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir4508_28749}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 8b77104fcb288193f3c9c41ed37...}
Session ID: 8b77104fcb288193f3c9c41ed37f41f8
</td></tr>
<tr><td>19:49:54,523 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:49:54,755 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:54,917 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:49:55,071  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:50:03,963  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186932404465977.png'>186932404465977.png</a>
</td></tr>
<tr><td>19:50:03,963 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:50:04,237 DEBUG - LOGIN
</td></tr>
<tr><td>19:50:04,295 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:04,479 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:04,627 DEBUG - type login - 46mYdMTim
</td></tr>
<tr><td>19:50:04,627 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:05,212 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:06,143 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:06,277 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:06,744 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:07,202 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:07,739 DEBUG - type password - 8NoxAfcWwl
</td></tr>
<tr><td>19:50:07,740 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:50:08,775  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186936927292082.png'>186936927292082.png</a>
</td></tr>
<tr><td>19:50:08,775 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (5c87bb4a3c13b552058345d65393b49a)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:50:08,977 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:50:08,977 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:10,094 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:10,695 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:11,361 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:11,595 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir13672_19694}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 5c87bb4a3c13b552058345d6539...}
Session ID: 5c87bb4a3c13b552058345d65393b49a
</td></tr>
<tr><td>19:50:11,595 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:11,736 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:50:11,910 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:50:12,052  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:50:20,537  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186949150083201.png'>186949150083201.png</a>
</td></tr>
<tr><td>19:50:20,538 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:50:20,712 DEBUG - LOGIN
</td></tr>
<tr><td>19:50:20,745 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:20,953 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:21,093 DEBUG - type login - g34EZq
</td></tr>
<tr><td>19:50:21,093 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:21,818 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:22,431 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:22,559 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:22,695 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:22,891 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:23,343 DEBUG - type password - 7IfSux
</td></tr>
<tr><td>19:50:23,343 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:50:24,290  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186952538442305.png'>186952538442305.png</a>
</td></tr>
<tr><td>19:50:24,290 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (e2ae750ae63d9193aa6f6f4709d2a481)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:50:24,578 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:50:24,578 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:25,583 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:26,157 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:26,724 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:26,797 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir3996_30099}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: e2ae750ae63d9193aa6f6f4709d...}
Session ID: e2ae750ae63d9193aa6f6f4709d2a481
</td></tr>
<tr><td>19:50:26,797 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:26,914 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:50:27,137 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:50:27,360  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginAndPasswordFromLoginPage]
</td></tr>
<tr><td>19:50:37,513  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186966057076783.png'>186966057076783.png</a>
</td></tr>
<tr><td>19:50:37,513 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:50:37,698 DEBUG - LOGIN
</td></tr>
<tr><td>19:50:37,731 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:38,025 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:38,320 DEBUG - type login - su2zO2F
</td></tr>
<tr><td>19:50:38,320 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:39,097 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:39,712 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:39,844 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:40,129 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:40,515 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:41,332 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>19:50:41,333 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:50:42,336  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186970535363866.png'>186970535363866.png</a>
</td></tr>
<tr><td>19:50:42,336 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (b5e459e5d696fe3de9ecb094190ce22e)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:50:42,610 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:50:42,611 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:43,629 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:44,197 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:44,802 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:44,895 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir8112_20481}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: b5e459e5d696fe3de9ecb094190...}
Session ID: b5e459e5d696fe3de9ecb094190ce22e
</td></tr>
<tr><td>19:50:44,895 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:50:45,100 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:50:45,244 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:50:45,349  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectLoginFromLoginPage]
</td></tr>
<tr><td>19:50:54,188  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186982788306623.png'>186982788306623.png</a>
</td></tr>
<tr><td>19:50:54,188 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:50:54,358 DEBUG - LOGIN
</td></tr>
<tr><td>19:50:54,392 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:54,625 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:54,871 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>19:50:54,871 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:55,509 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:50:56,324 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:56,461 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:56,616 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:57,043 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:50:57,565 DEBUG - type password - l4duPc
</td></tr>
<tr><td>19:50:57,565 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:50:58,680  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186986798427713.png'>186986798427713.png</a>
</td></tr>
<tr><td>19:50:58,681 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (4d012c3e145725fa7298614e6f9c6e6e)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:50:58,930 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:50:58,930 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:00,028 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:00,654 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:01,385 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:01,515 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir8744_1629}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 4d012c3e145725fa7298614e6f9...}
Session ID: 4d012c3e145725fa7298614e6f9c6e6e
</td></tr>
<tr><td>19:51:01,515 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:01,777 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:51:01,922 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:51:02,121  INFO - [TEST COMPLETED SUCCESSFULLY loginWithIncorrectPasswordFromLoginPage]
</td></tr>
<tr><td>19:51:11,426  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\186999951314576.png'>186999951314576.png</a>
</td></tr>
<tr><td>19:51:11,426 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:51:11,426 DEBUG - LOGIN
</td></tr>
<tr><td>19:51:11,476 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:51:11,595 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:51:11,833 DEBUG - type login - yugtest2018
</td></tr>
<tr><td>19:51:11,833 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:51:12,566 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:51:13,235 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:51:13,364 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:51:13,503 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:51:13,624 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:51:14,175 DEBUG - type password - zxc123zxc
</td></tr>
<tr><td>19:51:14,176 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:51:14,906  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187003363442305.png'>187003363442305.png</a>
</td></tr>
<tr><td>19:51:14,906 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:51:15,364 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:51:15,364 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:26,729 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
</td></tr>
<tr><td>19:51:26,730 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:26,845 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:51:26,964 DEBUG - SEND LETTER
</td></tr>
<tr><td>19:51:26,964 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>19:51:26,964 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>19:51:27,607  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187016148640195.png'>187016148640195.png</a>
</td></tr>
<tr><td>19:51:27,608 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>19:51:29,541 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:51:29,825 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:51:30,795 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:51:30,894 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:51:31,041 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>19:51:31,179 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:51:31,278 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:51:31,482 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>19:51:32,274  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187020670609970.png'>187020670609970.png</a>
</td></tr>
<tr><td>19:51:32,275 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>19:51:32,414 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>19:51:32,958 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>19:51:33,053 DEBUG - Befor finding WebElement by locator By.cssSelector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok
</td></tr>
<tr><td>19:51:33,660  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187022219072670.png'>187022219072670.png</a>
</td></tr>
<tr><td>19:51:33,660 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> css selector: div#MailRuConfirm div.is-compose-empty_in>form>div.popup__controls>button.confirm-ok]
</td></tr>
<tr><td>19:51:33,870 DEBUG - [CHECK THAT LETTER IS FOUND IN INCOMING AND OUTGOING MAIL]
</td></tr>
<tr><td>19:51:33,870 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>19:51:33,985 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>19:51:35,859  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187023178973597.png'>187023178973597.png</a>
</td></tr>
<tr><td>19:51:35,860 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>19:51:36,871  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187025017886095.png'>187025017886095.png</a>
</td></tr>
<tr><td>19:51:36,871 DEBUG - Stale element reference exception by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>19:51:36,871 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>19:51:37,910  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187026030431536.png'>187026030431536.png</a>
</td></tr>
<tr><td>19:51:37,910 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>19:51:38,370 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>19:51:39,283  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187027814330636.png'>187027814330636.png</a>
</td></tr>
<tr><td>19:51:39,283 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>19:51:39,512 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:40,264 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:40,329 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:40,421 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>19:51:40,545 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>19:51:40,630 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>19:51:41,513  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187029798180243.png'>187029798180243.png</a>
</td></tr>
<tr><td>19:51:41,513 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div/a[@href='/messages/sent/']]
</td></tr>
<tr><td>19:51:41,678 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>19:51:42,419 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>19:51:42,513 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>19:51:43,117  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187031681154318.png'>187031681154318.png</a>
</td></tr>
<tr><td>19:51:43,117 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a]
</td></tr>
<tr><td>19:51:43,427 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:43,974 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:44,101 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>19:51:44,224  INFO - [TEST COMPLETED SUCCESSFULLY checkMailSendWithoutTopicAndBody]
</td></tr>
<tr><td>19:51:44,225 DEBUG - SEND LETTER
</td></tr>
<tr><td>19:51:44,225 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>19:51:44,225 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>19:51:45,120  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187033434636390.png'>187033434636390.png</a>
</td></tr>
<tr><td>19:51:45,121 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>19:51:46,226 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:51:46,430 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:51:47,293 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:51:47,348 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:51:47,629 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>19:51:47,701 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:51:47,754 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:51:48,063 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>19:51:48,622  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187037225756063.png'>187037225756063.png</a>
</td></tr>
<tr><td>19:51:48,622 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>19:51:48,904 DEBUG - [CHECK THAT LETTER IS FOUND IN INCOMING AND OUTGOING MAIL]
</td></tr>
<tr><td>19:51:48,904 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>19:51:50,381 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>19:51:50,458 DEBUG - Befor finding WebElement by locator By.xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']
</td></tr>
<tr><td>19:51:51,477  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187039617440649.png'>187039617440649.png</a>
</td></tr>
<tr><td>19:51:51,478 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[not(@class='message-sent__title')]/a[@href='/messages/inbox/']]
</td></tr>
<tr><td>19:51:51,829 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>19:51:53,002  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187041160985527.png'>187041160985527.png</a>
</td></tr>
<tr><td>19:51:53,002 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>19:51:53,606  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187042165998071.png'>187042165998071.png</a>
</td></tr>
<tr><td>19:51:53,606 DEBUG - Stale element reference exception by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>19:51:53,606 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-datalist__item:nth-child(1) > div > a
</td></tr>
<tr><td>19:51:54,174  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187042761871298.png'>187042761871298.png</a>
</td></tr>
<tr><td>19:51:54,174 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> css selector: div.b-datalist__item:nth-child(1) > div > a]
</td></tr>
<tr><td>19:51:54,420 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:55,320 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:55,431 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>19:51:55,558 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>19:51:55,638 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/sent/']
</td></tr>
<tr><td>19:51:56,441  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187044798939293.png'>187044798939293.png</a>
</td></tr>
<tr><td>19:51:56,441 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div/a[@href='/messages/sent/']]
</td></tr>
<tr><td>19:51:57,124 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>19:51:57,559 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a
</td></tr>
<tr><td>19:51:58,157  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187046726861570.png'>187046726861570.png</a>
</td></tr>
<tr><td>19:51:58,158 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[contains(@class, 'b-datalist_letters_to')]/div[not(@class='b-datalist__head')]//a]
</td></tr>
<tr><td>19:51:58,442 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:59,052 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__subj__text
</td></tr>
<tr><td>19:51:59,190 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__head__addrs__value
</td></tr>
<tr><td>19:51:59,270  INFO - [TEST COMPLETED SUCCESSFULLY checkSendingAndReceivingLetterWithCorrectDataFilled]
</td></tr>
<tr><td>19:51:59,270 DEBUG - CREATE DRAFT
</td></tr>
<tr><td>19:51:59,270 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>19:51:59,270 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>19:52:00,155  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187048429775741.png'>187048429775741.png</a>
</td></tr>
<tr><td>19:52:00,155 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>19:52:01,243 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:52:01,508 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:52:01,585 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:52:01,636 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:52:01,738 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>19:52:01,814 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:52:01,869 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:52:02,321 DEBUG - [SAVE DRAFT]
</td></tr>
<tr><td>19:52:02,659 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>19:52:02,757 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>19:52:03,433  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187051979476217.png'>187051979476217.png</a>
</td></tr>
<tr><td>19:52:03,433 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>19:52:03,973  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187052579545764.png'>187052579545764.png</a>
</td></tr>
<tr><td>19:52:03,973 DEBUG - Stale element reference exception by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>19:52:03,973 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>19:52:04,498  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187053130152919.png'>187053130152919.png</a>
</td></tr>
<tr><td>19:52:04,499 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>19:52:04,805 DEBUG - [SAVE DRAFT]
</td></tr>
<tr><td>19:52:06,096 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>19:52:06,271 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>19:52:07,091  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187055463781936.png'>187055463781936.png</a>
</td></tr>
<tr><td>19:52:07,092 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]
</td></tr>
<tr><td>19:52:08,746 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>19:52:09,675 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:52:09,807 DEBUG - DELETE DRAFT
</td></tr>
<tr><td>19:52:09,807 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>19:52:09,899 DEBUG - Befor finding WebElement by locator By.xpath: //div/a[@href='/messages/drafts/']
</td></tr>
<tr><td>19:52:10,444  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187059067505077.png'>187059067505077.png</a>
</td></tr>
<tr><td>19:52:10,445 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div/a[@href='/messages/drafts/']]
</td></tr>
<tr><td>19:52:10,903 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>19:52:11,830 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>19:52:12,619  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187061013272489.png'>187061013272489.png</a>
</td></tr>
<tr><td>19:52:12,620 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]
</td></tr>
<tr><td>19:52:13,234 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>19:52:14,077 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:52:15,279 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>19:52:15,500 DEBUG - Befor finding WebElement by locator By.xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']
</td></tr>
<tr><td>19:52:15,539 DEBUG - Befor finding WebElement by locator By.xpath: a/div[contains(@class,'js-item-checkbox')]
</td></tr>
<tr><td>19:52:16,311  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187064704791528.png'>187064704791528.png</a>
</td></tr>
<tr><td>19:52:16,311 DEBUG - Befor click on [[[[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[@id='YaDirectLine']/../../../../..//*[1][contains(@class,'b-datalist__item')]/*[@class='b-datalist__item__body']]] -> xpath: a/div[contains(@class,'js-item-checkbox')]]
</td></tr>
<tr><td>19:52:16,576 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__right']//*[@class='b-toolbar__group']//*[@class='b-toolbar__item']//div[contains(@class, 'b-toolbar__btn_grouped_last')]/i[contains(@class, 'ico_toolbar_remove')]/../..
</td></tr>
<tr><td>19:52:17,359  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187065762023193.png'>187065762023193.png</a>
</td></tr>
<tr><td>19:52:17,360 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-toolbar__right']//*[@class='b-toolbar__group']//*[@class='b-toolbar__item']//div[contains(@class, 'b-toolbar__btn_grouped_last')]/i[contains(@class, 'ico_toolbar_remove')]/../..]
</td></tr>
<tr><td>19:52:17,515 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>19:52:18,300 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>19:52:18,417 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>19:52:19,241  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187067616037325.png'>187067616037325.png</a>
</td></tr>
<tr><td>19:52:19,241 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']]
</td></tr>
<tr><td>19:52:19,655 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>19:52:20,104 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>19:52:20,218 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>19:52:21,277  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187069392095045.png'>187069392095045.png</a>
</td></tr>
<tr><td>19:52:21,278 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]]
</td></tr>
<tr><td>19:52:21,474 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>19:52:22,477 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>19:52:22,538 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>19:52:22,619 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>19:52:22,695 DEBUG - Befor finding WebElement by locator By.xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']
</td></tr>
<tr><td>19:52:23,525  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187071855319321.png'>187071855319321.png</a>
</td></tr>
<tr><td>19:52:23,525 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //div[contains(@class,'js-href')]/a[@href='/messages/trash/']]
</td></tr>
<tr><td>19:52:23,822 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']//*[@class='b-datalist__body']//a/div[contains(@class, 'b-datalist__item__cbx')]
</td></tr>
<tr><td>19:52:27,689  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187075648180670.png'>187075648180670.png</a>
</td></tr>
<tr><td>19:52:27,690 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-letters']//*[@class='b-datalist__body']//a/div[contains(@class, 'b-datalist__item__cbx')]]
</td></tr>
<tr><td>19:52:28,071 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__right']//i[contains(@class,'ico_toolbar_remove')]/..
</td></tr>
<tr><td>19:52:29,689  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187077698657262.png'>187077698657262.png</a>
</td></tr>
<tr><td>19:52:29,689 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-toolbar__right']//i[contains(@class,'ico_toolbar_remove')]/..]
</td></tr>
<tr><td>19:52:29,851 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>19:52:30,042 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>19:52:30,225 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]
</td></tr>
<tr><td>19:52:31,403  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187079403809755.png'>187079403809755.png</a>
</td></tr>
<tr><td>19:52:31,403 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-letters']/*[@class='b-datalists']/div[not(contains(@style,'display:none'))] //*[@id='DoubleFormatLine']/../../../../..//*[@class='b-datalist__body']/*[1]]
</td></tr>
<tr><td>19:52:31,631 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>19:52:32,196 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>19:52:32,313 DEBUG - Befor finding WebElement by locator By.cssSelector: .b-letter__details>.b-letter__body>div>div>div>div>div
</td></tr>
<tr><td>19:52:32,403  INFO - [TEST COMPLETED SUCCESSFULLY checkThatDraftCreatedAndDeleted]
</td></tr>
<tr><td>19:52:32,403 DEBUG - SEND LETTER
</td></tr>
<tr><td>19:52:32,403 DEBUG - [WRIGHT LETTER]
</td></tr>
<tr><td>19:52:32,403 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='b-toolbar__left']//a
</td></tr>
<tr><td>19:52:33,349  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187081594424675.png'>187081594424675.png</a>
</td></tr>
<tr><td>19:52:33,350 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //*[@id='b-toolbar__left']//a]
</td></tr>
<tr><td>19:52:34,534 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:52:34,816 DEBUG - Befor finding WebElement by locator By.cssSelector: div.b-input_textarea>textarea[data-original-name='To']
</td></tr>
<tr><td>19:52:34,927 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:52:35,011 DEBUG - Befor finding WebElement by locator By.cssSelector: input.b-input[name='Subject']
</td></tr>
<tr><td>19:52:35,350 DEBUG - Befor finding WebElement by locator By.cssSelector: tbody>tr>td>iframe
</td></tr>
<tr><td>19:52:35,466 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:52:35,536 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='tinymce']
</td></tr>
<tr><td>19:52:35,861 DEBUG - Befor finding WebElement by locator By.xpath: //span[@class='b-toolbar__btn__text']/../..
</td></tr>
<tr><td>19:52:36,446  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187085032461215.png'>187085032461215.png</a>
</td></tr>
<tr><td>19:52:36,447 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (78a7929a949196efa7d01f3855a01df1)] -> xpath: //span[@class='b-toolbar__btn__text']/../..]
</td></tr>
<tr><td>19:52:36,754  INFO - [TEST COMPLETED SUCCESSFULLY checkThatMailDoesNotsendWithoutAddress]
</td></tr>
<tr><td>19:52:50,610  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187099181743126.png'>187099181743126.png</a>
</td></tr>
<tr><td>19:52:50,610 DEBUG - WebDriver navigate to url: https://mail.ru
</td></tr>
<tr><td>19:52:50,846 DEBUG - LOGIN
</td></tr>
<tr><td>19:52:50,875 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:52:51,188 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:52:51,388 DEBUG - type login - 
</td></tr>
<tr><td>19:52:51,389 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:52:52,230 DEBUG - Befor finding WebElement by locator By.xpath: //input[@name='login']
</td></tr>
<tr><td>19:52:52,633 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:52:52,776 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:52:52,966 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:52:53,157 DEBUG - Befor finding WebElement by locator By.cssSelector: input[name='password']
</td></tr>
<tr><td>19:52:53,496 DEBUG - type password - 
</td></tr>
<tr><td>19:52:53,497 DEBUG - Befor finding WebElement by locator By.cssSelector: input.o-control
</td></tr>
<tr><td>19:52:54,327  INFO - <a href='D:\IdeaProjects\h13\logs\screenshots\187102677492618.png'>187102677492618.png</a>
</td></tr>
<tr><td>19:52:54,327 DEBUG - Befor click on [[RemoteWebDriver: chrome on XP (66a723fc1c3ac4ef1c0fd3609e528db0)] -> css selector: input.o-control]
</td></tr>
<tr><td>19:52:54,543 DEBUG - CHECK THAT LOGIN IS SUCCESSFULL
</td></tr>
<tr><td>19:52:54,543 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:52:55,332 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:52:55,910 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:52:56,591 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:52:56,935 DEBUG - Expected condition failed: waiting for visibility of element located by By.xpath: //*[@id='PH_user-email'] (tried for 2 second(s) with 500 MILLISECONDS interval)
Build info: version: '3.9.1', revision: '63f7b50', time: '2018-02-07T22:25:02.294Z'
System info: host: 'YUG', ip: '192.168.100.74', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_162'
Driver info: org.openqa.selenium.support.events.EventFiringWebDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.38.552522 (437e6fbedfa876..., userDataDir: C:\Temp\scoped_dir6996_6652}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 67.0.3396.79, webStorageEnabled: true, webdriver.remote.sessionid: 66a723fc1c3ac4ef1c0fd3609e5...}
Session ID: 66a723fc1c3ac4ef1c0fd3609e528db0
</td></tr>
<tr><td>19:52:56,936 DEBUG - Befor finding WebElement by locator By.xpath: //*[@id='PH_user-email']
</td></tr>
<tr><td>19:52:57,426 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:52:57,538 DEBUG - Befor finding WebElement by locator By.cssSelector: div[id='mailbox:error']
</td></tr>
<tr><td>19:52:57,637  INFO - [TEST COMPLETED SUCCESSFULLY LoginWithEmptyLoginAndPasswordFromLoginPage]
</td></tr>
</table>