<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:34</td>   <td>12544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:46</td>   <td>24279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:58</td>   <td>35876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:10</td>   <td>47863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:22</td>   <td>60053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:35</td>   <td>73462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:49</td>   <td>86889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:03</td>   <td>101676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:16</td>   <td>114563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:28</td>   <td>126544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:41</td>   <td>139015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:54</td>   <td>152311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:17:07</td>   <td>165291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>-195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileDragNDropSuccessfuly()[pri:3, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFileDragNDropSuccessfuly</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>-196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileUploadsSuccessfuly()[pri:2, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFileUploadsSuccessfuly</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>-197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsCreated()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFolderIsCreated</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>-196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsRemoved()[pri:1, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFolderIsRemoved</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>-194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatLinkToItemIsShared()[pri:4, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatLinkToItemIsShared</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:16</td>   <td>-5628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginAsSpecificCustomerOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginAsSpecificCustomerOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:29</td>   <td>7567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithCorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithCorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:41</td>   <td>19435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginAndPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithEmptyLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:53</td>   <td>30924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithEmptyLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:05</td>   <td>43246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithEmptyPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:16</td>   <td>54679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:30</td>   <td>68097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:43</td>   <td>81333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:58</td>   <td>96646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:11</td>   <td>108941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:23</td>   <td>121218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:35</td>   <td>133550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:48</td>   <td>146105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:17:02</td>   <td>159848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:13:58</td>   <td>-24199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:23</td>   <td>1062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:35</td>   <td>13676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:47</td>   <td>25484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:59</td>   <td>37110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:11</td>   <td>49246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:23</td>   <td>61307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:37</td>   <td>74845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:50</td>   <td>88326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:05</td>   <td>102749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:17</td>   <td>115669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:29</td>   <td>127556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:42</td>   <td>140523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:55</td>   <td>153619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:13:58</td>   <td>-24200</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProfileCloudTest.setUp()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@190200a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
</table>
