<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:13:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProfileCloudTest.setUp()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@190200a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:13:58</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:16</td>   <td>18572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginAsSpecificCustomerOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginAsSpecificCustomerOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>24003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsCreated()[pri:0, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFolderIsCreated</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>24004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFolderIsRemoved()[pri:1, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFolderIsRemoved</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>24004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileUploadsSuccessfuly()[pri:2, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFileUploadsSuccessfuly</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>24005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatFileDragNDropSuccessfuly()[pri:3, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatFileDragNDropSuccessfuly</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>18/05/01 22:14:22</td>   <td>24006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileCloudTest.checkThatLinkToItemIsShared()[pri:4, instance:com.epam.tat.test.ProfileCloudTest@190200a]">checkThatLinkToItemIsShared</td> 
  <td>pool-1-thread-2@19268384</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:22</td>   <td>24200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:23</td>   <td>25262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:29</td>   <td>31767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithCorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithCorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:34</td>   <td>36744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:35</td>   <td>37876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:41</td>   <td>43635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginAndPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithEmptyLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:46</td>   <td>48479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:47</td>   <td>49684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:53</td>   <td>55124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithEmptyLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:58</td>   <td>60076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:14:59</td>   <td>61310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:05</td>   <td>67446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithEmptyPasswordOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithEmptyPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:10</td>   <td>72063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:11</td>   <td>73446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:16</td>   <td>78879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:22</td>   <td>84253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:23</td>   <td>85507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:30</td>   <td>92297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:35</td>   <td>97662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:37</td>   <td>99045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:43</td>   <td>105533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:49</td>   <td>111089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:50</td>   <td>112526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:15:58</td>   <td>120846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:03</td>   <td>125876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:05</td>   <td>126949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:11</td>   <td>133141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:16</td>   <td>138763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:17</td>   <td>139869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:23</td>   <td>145418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:28</td>   <td>150744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:29</td>   <td>151756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:35</td>   <td>157750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:41</td>   <td>163215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:42</td>   <td>164723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:48</td>   <td>170305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage(java.lang.String, java.lang.String)[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginAndPasswordOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:54</td>   <td>176511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:16:55</td>   <td>177819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginCloudTest.openInstance()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&gt;&gt;openInstance</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:17:02</td>   <td>184048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginCloudTest.loginWithIncorrectLoginOnCloudFromLoginPage()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">loginWithIncorrectLoginOnCloudFromLoginPage</td> 
  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>18/05/01 22:17:07</td>   <td>189491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginCloudTest.back()[pri:0, instance:com.epam.tat.test.LoginCloudTest@7194ba]">&lt;&lt;back</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@27706229</td>   <td></td> </tr>
</table>
